<div class="card" style="width: 18rem;">
  <h5 class="card-title">Login</h5>
  <div class="card-body">

    <form [formGroup]="form" (ngSubmit)="submit()">
      <p>        
          <input type="text" class="form-control" placeholder="Username" formControlName="username">        
      </p>

      <p>        
          <input type="password" class="form-control" placeholder="Password" formControlName="password">        
      </p>

      <p *ngIf="!loginValid">
        Usuario y password incorrecto
      </p>

      <div class="button">
        <button type="submit" class="btn btn-light">Login</button>
      </div>

    </form>

</div>

</div>