<nav class="navbar navbar-expand-lg" >
  <div class="container-fluid">

    <a [routerLink]="['/']" >
      <img src="../../../assets/images/mube-logo.png" style="width: 110px;" >
    </a>  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>    

    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="navbarToggler">
      <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a [routerLink]="['/selling']" class="nav-link montserrat-medium-bluminepx" href="#">Compra un auto</a>
          </li>
          <li class="nav-item">
            <a style="display: none;" [routerLink]="['/add']" class="nav-link montserrat-medium-bluminepx" href="#">Vende tu auto</a>
          </li>
          <li class="nav-item">
            <a style="display: none;" class="nav-link montserrat-medium-bluminepx" href="#">¿Cómo comprar?</a>
          </li>
          <li class="nav-item">
            <a style="display: none;" class="nav-link montserrat-medium-bluminepx" href="#">¿Cómo vender?</a>
          </li>
          <li class="nav-item">
            <a style="display: none;" class="nav-link montserrat-medium-bluminepx" href="#">Financiamiento</a>
          </li>
          <li class="nav-item">
            <a style="display: none;" class="nav-link montserrat-medium-bluminepx" href="#">Nosotros</a>
          </li>
          <li class="nav-item" style="margin-left: 40px;">
            <a style="display: none;" class="nav-link opciones-menu-login" href="#">Iniciar Sesión</a>
          </li>
        </ul>
    </div>
  </div>
</nav>

<div class="container-banner">
  <img src="../../../assets/images/banner-selling.png" style="width: 100%;" >
  <img class="imagen-encima" src="../../../../assets/images/home2/group-7@1x.svg" />
  <div class="texto-encima-centrado-1">¡NO TE MUEVAS!</div>
  <div class="texto-encima-centrado-2">Compra tu auto desde la comodidad de tu casa</div>
</div>

<div class="row height d-flex justify-content-center align-items-center" style="margin-top: 30px; width: 100%;">

      <a class="btn" data-bs-toggle="offcanvas" href="#offcanvasNavbar" role="button" aria-controls="offcanvasNavbar" 
      style="flex: 1; max-width: fit-content;">
        <img src="../../../assets/images/filtro.png" style="width: auto;" >
        Filtros      
      </a>
      
      <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="staticBackdropLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">

          <div class="accordion" id="accordionExample">
            
            <div class="">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed titulo-menu" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  TIPO
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <input type="text" [(ngModel)]="fields.type" (ngModelChange)="updateFilters()" />
                </div>
              </div>
            </div>

            <p class="linea-menu"></p>

            <div class="">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed titulo-menu" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  PRECIO
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body label-sub-filtro">
                  Desde <input type="text" [(ngModel)]="fields.priceFrom" (ngModelChange)="updateFilters()" style="margin-right: 30px;" />
                  Hasta <input type="text" [(ngModel)]="fields.priceTo" (ngModelChange)="updateFilters()" />
                </div>
              </div>
            </div>
            
            <p class="linea-menu"></p>
            
            <div class="">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed titulo-menu" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  AÑO
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body label-sub-filtro">
                  Desde <input type="text" [(ngModel)]="fields.yearFrom" (ngModelChange)="updateFilters()" style="margin-right: 30px;" />                  
                  Hasta <input type="text" [(ngModel)]="fields.yearTo" (ngModelChange)="updateFilters()" />
                </div>
              </div>
            </div>

            <p class="linea-menu"></p>
            
            <div class="">
              <h2 class="accordion-header" id="heading4">
                <button class="accordion-button collapsed titulo-menu" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                  MARCA
                </button>
              </h2>
              <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <input type="text" [(ngModel)]="fields.brand" (ngModelChange)="updateFilters()" />
                </div>
              </div>
            </div>

            <p class="linea-menu"></p>
            
            <div class="">
              <h2 class="accordion-header" id="heading5">
                <button class="accordion-button collapsed titulo-menu" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                  COMBUSTIBLE
                </button>
              </h2>
              <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <input type="text" [(ngModel)]="fields.fuel" (ngModelChange)="updateFilters()" />
                </div>
              </div>
            </div>

            <p class="linea-menu"></p>
            
            <div class="">
              <h2 class="accordion-header" id="heading6">
                <button class="accordion-button collapsed titulo-menu" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                  TRANSMISIÓN
                </button>
              </h2>
              <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <input type="text" [(ngModel)]="fields.transmission" (ngModelChange)="updateFilters()" />
                </div>
              </div>
            </div>

            <p class="linea-menu"></p>
            
            <div class="">
              <h2 class="accordion-header" id="heading7">
                <button class="accordion-button collapsed titulo-menu" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                  MOTOR
                </button>
              </h2>
              <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <input type="text" [(ngModel)]="fields.engine" (ngModelChange)="updateFilters()" />
                </div>
              </div>
            </div>


          </div>
                    
        </div>
      </div>

      
  <div class="col-md-9">
    <div class="search">      
      <input type="text" class="form-control" placeholder="Buscar marca, modelo o año" name= "search" [(ngModel)]= "search">  
      <button class="btn btn-light">Search</button>
    </div>
    
  </div>
  
</div>

<div class="container-elige">
    Elige el modelo que buscas
</div>

<div class="container-filtro-autos">
  <div>
    <img src="../../../assets/images/auto1-filtro.png">Citycar
  </div>
  <div>
    <img src="../../../assets/images/auto2-filtro.png">Eléctrico
  </div>
  <div>
    <img src="../../../assets/images/auto3-filtro.png">Hatchback
  </div>
  <div>
    <img src="../../../assets/images/auto4-filtro.png">Minivan
  </div>
  <div>
    <img src="../../../assets/images/auto5-filtro.png">Pickup
  </div>
  <div>
    <img src="../../../assets/images/auto6-filtro.png">Sedán
  </div>
  <div>
    <img src="../../../assets/images/auto7-filtro.png">SUV
  </div>
</div>

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" 
    *ngFor="let car of carsDisplay | filterCarSelling : filter | paginate
      : {
        itemsPerPage: tableSize,
        currentPage: page,
        totalItems: count
      };">

      <div class="card" style="width: 16rem;" [routerLink] = "['/detail', car.id]" >
        <img class="rounded-top" [src]="car.imgMain">
        <div class="card-body">
          <h5 class="titleh5"><span style="font-weight: bold;">{{$any(car).brand}} {{$any(car).model}} |</span> {{$any(car).year}}</h5>
          <p class="titleh4">{{$any(car).kilometers}}km - {{$any(car).fuel}} - {{$any(car).transmission}}</p>
          <p class="price">
            $ {{$any(car).price | number:'3.0-0'}}
          </p>
          <p class="titleh4">
            Sujeto a financiamiento
          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <pagination-controls
    class="my-pagination"
    previousLabel="Anterior"
    nextLabel="Siguiente"
    (pageChange)="onTableDataChange($event)"
  >
  </pagination-controls>
</div>


<div class="flex-container">
  <div class="flex-child">
    <div class="overlap-group20">
      <div class="ellipse-5"></div>
      <img class="mask-group-1" src="../../../assets/images/home2/mask-group-9@1x.svg" />
      <img class="rectangle-13" src="../../../assets/images/home2/rectangle-13@2x.svg" />
    </div>
  </div>

  
  <div class="flex-child">
    <div class="servicio-garantizado montserrat-medium-blumine-40px-normal">Servicio garantizado</div>
    <div class="flex-col-item-1 montserrat-medium-blumine-24px">
      <div class="ellipse-7"></div>
      Autos Inspeccionados
    </div>
    <p class="flex-col-item montserrat-medium-blumine">
      Para tu tranquilidad nuestros expertos revisan detalladamente los autos
    </p>
    <div class="flex-col-item-1 montserrat-medium-blumine-24px">
      <div class="ellipse-7"></div>
        Resolvemos tus dudas
    </div>
    <p class="flex-col-item montserrat-medium-blumine">
      Te acompañamos y asesoramos de forma online en todo momento
    </p>
    <div class="flex-col-item-1 montserrat-medium-blumine-24px">
      <div class="ellipse-7"></div>
        Transferencia de documentos garantizada<br />
    </div>
    <p class="flex-col-item montserrat-medium-blumine">
      Disfruta de un proceso de transferencia sin complicaciones
    </p>
    <div class="flex-col-item-1 montserrat-medium-blumine-24px">
      <div class="ellipse-7"></div>
      Historia limpia
    </div>
    
      <p class="flex-col-item montserrat-medium-blumine">
        Todos los autos tienen su documentación al día
      </p>
    
  </div>


</div>


<div class="home">
  <div class="separador"></div>
<div class="group-124">
  <div class="flex-row-4">
    <div class="flex-row-5 montserrat-bold-blumine-20px">
      <div class="flex-col-4">
        <img class="group-86" src="../../../../assets/images/home2/group-86@2x.svg" />
        <div class="en-mube-queremos-hac montserrat-medium-white-20px">
          <span class="montserrat-medium-blumine-20px">En </span
          ><span class="montserrat-extra-bold-robins-egg-blue-20px">mube</span
          ><span class="montserrat-medium-blumine-20px">
            queremos hacer las cosas bien: facilitamos el camino usando tecnología para garantizar
            experiencias cómodas y fluidas. Ayudamos a las personas a conseguir lo que buscan. Al que no
            conozca el precio, lo ayudamos a definirlo. A quien no tiene recursos inmediatos, podemos
            financiarlo</span
          >
        </div>
      </div>
      <div class="group-87">
        <a href="home.html"><div class="place montserrat-bold-blumine-20px">Home</div> </a
        ><a href="quiero-comprar.html"
          ><div class="link montserrat-bold-blumine-20px">Comprar un auto</div>
        </a>
        <div class="vender-un-auto">Vender un auto</div>
        <a href="financiamiento.html"><div class="link montserrat-bold-blumine-20px">Financiamiento</div> </a>
        <div class="autos-garantizados">Autos garantizados</div>
      </div>
      <div class="group-88">
        <div class="sobre-nosotros">Sobre nosotros</div>
        <div class="cmo-funciona-mube">¿Cómo funciona mube?</div>
        <a href="como-lo-hacemos.html"
          ><div class="link montserrat-bold-blumine-20px">¿Cómo comprar?</div>
        </a>
        <div class="trminos-y-condiciones">Términos y condiciones</div>
        <div class="aviso-de-privacidad">Aviso de privacidad</div>
        <div class="fa-qs">FAQ’s</div>
      </div>
    </div>
    <div class="flex-col-5">
      <div class="contctanos montserrat-bold-blumine-24px">CONTÁCTANOS</div>
      <div class="contactomubecl montserrat-normal-blumine-20px">contacto@mube.cl</div>
      <div class="phone montserrat-normal-blumine-20px">+569 3254 1255</div>
      
      <div class="overlap-group-container">
        <div class="overlap-group-2">
          <div class="component-2">
            <div class="cmo-comprar valign-text-middle gotham-bold-blumine-16px">Enviar correo</div>
          </div>
        </div>                
      </div>

    </div>
  </div>
  <div class="overlap-group11">
    <div class="rectangle-68"></div>
    <div class="x2022-todos-los-derechos-reservados montserrat-medium-white-20px-2">
      2022 © Todos los derechos reservados
    </div>
  </div>
</div>  
</div>