<mat-card>
  <mat-progress-bar mode="indeterminate" *ngIf="isCompleted"></mat-progress-bar>

  <mat-panel-title>Agregar Vehículo</mat-panel-title>

  <mat-card-content style="flex-direction: column;">
    <form [formGroup]="carForm" (ngSubmit)="preOnFormSubmit()">

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Marca" formControlName="brand">
        <mat-error>
          <span *ngIf="carForm.get('brand')?.invalid">Ingrese id válido</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Modelo" formControlName="model">
        <mat-error>
          <span *ngIf="carForm.get('model')?.invalid">Ingrese modelo válido</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Año" formControlName="year">
        <mat-error>
          <span *ngIf="carForm.get('year')?.invalid">Ingrese año válido</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Kilometraje" formControlName="kilometers">
        <mat-error>
          <span *ngIf="carForm.get('kilometers')?.invalid">Ingrese kilometraje válido</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Precio" formControlName="price">
        <mat-error>
          <span *ngIf="carForm.get('price')?.invalid">Ingrese precio válido</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Transmisión" formControlName="transmission">
        <mat-error>
          <span *ngIf="carForm.get('transmission')?.invalid">Ingrese tipo de transmisión válida</span>
        </mat-error>
      </mat-form-field>

    </form>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Propietario
          </mat-panel-title>
          <mat-panel-description>
            Datos del Propietario
          </mat-panel-description>
        </mat-expansion-panel-header>

        <form class="example-full-width" [formGroup]="formOwner" (ngSubmit)="preOnFormSubmit()">
          <formly-form [form]="formOwner" [fields]="fieldsOwner" [model]="modelOwner"></formly-form>
          <!-- <div class="example-full-width">
              <button mat-raised-button type="button" class="btn btn-danger col-2" (click)="cancel()">Cancelar</button>
              <button mat-raised-button type="submit" class="btn btn-success col-2"
                [disabled]="!carForm.valid || !formOwner.valid">Guardar</button>
            </div> -->
        </form>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Documentación
          </mat-panel-title>
          <mat-panel-description>
            Documentación del Vehículo
          </mat-panel-description>
        </mat-expansion-panel-header>

        <form class="example-full-width" [formGroup]="formDocumentation" (ngSubmit)="preOnFormSubmit()">
          <formly-form [form]="formDocumentation" [fields]="fieldsDocumentation" [model]="modelDocumentation">
          </formly-form>
          <!-- <div class="example-full-width">
              <button mat-raised-button type="button" class="btn btn-danger col-2" (click)="cancel()">Cancelar</button>
              <button mat-raised-button type="submit" class="btn btn-success col-2"
                [disabled]="!carForm.valid || !formOwner.valid">Guardar</button>
            </div> -->
        </form>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Equipamiento
          </mat-panel-title>
          <mat-panel-description>
            Equipamiento del Vehículo
          </mat-panel-description>
        </mat-expansion-panel-header>

        <form class="example-full-width" [formGroup]="formEquipment" (ngSubmit)="preOnFormSubmit()">
          <formly-form [form]="formEquipment" [fields]="fieldsEquipment" [model]="modelEquipment"></formly-form>
          <!-- <div class="example-full-width">
              <button mat-raised-button type="button" class="btn btn-danger col-2" (click)="cancel()">Cancelar</button>
              <button mat-raised-button type="submit" class="btn btn-success col-2"
                [disabled]="!carForm.valid || !formOwner.valid">Guardar</button>
            </div> -->
        </form>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Condiciones Interiores
          </mat-panel-title>
          <mat-panel-description>
            Condiciones Interiores del Vehículo
          </mat-panel-description>
        </mat-expansion-panel-header>

        <form class="example-full-width" [formGroup]="formIndoorConditions" (ngSubmit)="preOnFormSubmit()">
          <formly-form [form]="formIndoorConditions" [fields]="fieldsIndoorConditions" [model]="modelIndoorConditions">
          </formly-form>
          <!-- <div class="example-full-width">
              <button mat-raised-button type="button" class="btn btn-danger col-2" (click)="cancel()">Cancelar</button>
              <button mat-raised-button type="submit" class="btn btn-success col-2"
                [disabled]="!carForm.valid || !formOwner.valid">Guardar</button>
            </div> -->
        </form>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Controles Eléctricos
          </mat-panel-title>
          <mat-panel-description>
            Controles Eléctricos del Vehículo
          </mat-panel-description>
        </mat-expansion-panel-header>

        <form class="example-full-width" [formGroup]="formElectricController" (ngSubmit)="preOnFormSubmit()">
          <formly-form [form]="formElectricController" [fields]="fieldsElectricController"
            [model]="modelElectricController"></formly-form>
          <!-- <div class="example-full-width">
              <button mat-raised-button type="button" class="btn btn-danger col-2" (click)="cancel()">Cancelar</button>
              <button mat-raised-button type="submit" class="btn btn-success col-2"
                [disabled]="!carForm.valid || !formOwner.valid">Guardar</button>
            </div> -->
        </form>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Evaluación Carrocería
          </mat-panel-title>
          <mat-panel-description>
            Evaluación Carrocería del Vehículo
          </mat-panel-description>
        </mat-expansion-panel-header>

        <form class="example-full-width" [formGroup]="formBodyworkEvaluation" (ngSubmit)="preOnFormSubmit()">
          <formly-form [form]="formBodyworkEvaluation" [fields]="fieldsBodyworkEvaluation"
            [model]="modelBodyworkEvaluation"></formly-form>
          <!-- <div class="example-full-width">
              <button mat-raised-button type="button" class="btn btn-danger col-2" (click)="cancel()">Cancelar</button>
              <button mat-raised-button type="submit" class="btn btn-success col-2"
                [disabled]="!carForm.valid || !formOwner.valid">Guardar</button>
            </div> -->
        </form>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Revisión Mecánica
          </mat-panel-title>
          <mat-panel-description>
            Revisión Mecánica del Vehículo
          </mat-panel-description>
        </mat-expansion-panel-header>

        <form class="example-full-width" [formGroup]="formMechanicRevision" (ngSubmit)="preOnFormSubmit()">
          <formly-form [form]="formMechanicRevision" [fields]="fieldsMechanicRevision" [model]="modelMechanicRevision">
          </formly-form>
          <!-- <div class="example-full-width">
              <button mat-raised-button type="button" class="btn btn-danger col-2" (click)="cancel()">Cancelar</button>
              <button mat-raised-button type="submit" class="btn btn-success col-2"
                [disabled]="!carForm.valid || !formOwner.valid">Guardar</button>
            </div> -->
        </form>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="button-row">
      <button type="button" [disabled]="!carForm.valid || !formOwner.valid" mat-flat-button color="primary" (click)="preOnFormSubmit()">
        <mat-icon>save</mat-icon>
      </button>
      <button type="button" mat-flat-button color="primary" (click)="cancel()">Cancel</button>
    </div>

  </mat-card-content>

  <mat-card-actions>
    <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
      <label><strong>Arrastra y suelta imágenes acá</strong></label>
      <input hidden type="file" id="file" multiple #fileInput class="inputfile" (change)="uploadFile($event)">
    </div>
    <div #dropListContainer class="example-container" cdkDropListGroup>
      <div *ngFor="let file of files;let i= index" cdkDropList [cdkDropListData]="i">
        <div cdkDrag [cdkDragData]="i" (cdkDragEntered)="dragEntered($event)" (cdkDragMoved)="dragMoved($event)"
          (cdkDragDropped)="dragDropped($event)" class="example-box">

          <div class="container-img">
            <img [src]="filesToDisplay[i]" style="height: 100px">
            <button class="btn" (click)="deleteAttachment(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

        </div>
      </div>
    </div>
  </mat-card-actions>

</mat-card>
