<nav class="navbar navbar-expand-lg" >
  <div class="container-fluid">

    <a [routerLink]="['/']" >
      <img src="../../../assets/images/mube-logo.png" style="width: 110px;" >
    </a>  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>    

    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="navbarToggler">
      <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a [routerLink]="['/selling']" class="nav-link montserrat-medium-bluminepx" href="#">Compra un auto</a>
          </li>
          <li class="nav-item">
            <a style="display: none;" [routerLink]="['/add']" class="nav-link montserrat-medium-bluminepx" href="#">Vende tu auto</a>
          </li>
          <li class="nav-item">
            <a style="display: none;" class="nav-link montserrat-medium-bluminepx" href="#">¿Cómo comprar?</a>
          </li>
          <li class="nav-item">
            <a style="display: none;" class="nav-link montserrat-medium-bluminepx" href="#">¿Cómo vender?</a>
          </li>
          <li class="nav-item">
            <a style="display: none;" class="nav-link montserrat-medium-bluminepx" href="#">Financiamiento</a>
          </li>
          <li class="nav-item">
            <a style="display: none;" class="nav-link montserrat-medium-bluminepx" href="#">Nosotros</a>
          </li>
          <li class="nav-item" style="margin-left: 40px;">
            <a style="display: none;" class="nav-link opciones-menu-login" href="#">Iniciar Sesión</a>
          </li>
        </ul>
    </div>
  </div>
</nav>


<div class="container">

  <div class="row">
    <div class="col-sm-8">
      <div class="card border-0">
        <div >
          <img class="main-img"  [src]="carDisplay.imgMain">
          <div class="d-grid gap-2" style="margin-top: 10px; margin-bottom: 10px;">
            <ng-image-slider 
            [images]="imageObject" 
            [imageSize]="{width: 200}"
            [manageImageRatio]="true"
            #nav>
            </ng-image-slider>   
          </div>
        </div>        
      </div>
      <div class="card border-0">
        
          <img src="../../../assets/images/financiamiento.png" >
        
      </div>
      <div class="card border-0" style="margin-top: 20px; margin-bottom: 10px;">
        <div >
          <div class="d-md-flex" >
            <img src="../../../assets/images/home2/vector-20@2x.svg" >
            <div class="card-left garantia-label">              
              El {{carDisplay.brand}} {{carDisplay.model}} incluye una garantía de 3 meses gratis, 
              inspeccionado por un profesional y al precio del mercado.
            </div>
            <button type="button" class="btn btn-light border-0 btn-sm" style="width: 45%;">VER FICHA TÉCNICA</button>
          </div>
        </div>
      </div>      
    </div>
    <div class="col-sm-4">
      <div class="card border-0">
        <div class="card-body">
          <p class="marca-anno">{{carDisplay.brand}} {{carDisplay.model}}  </p>
          <p class="marca-anno">{{carDisplay.year}}</p>
        </div>
      </div>
      <div class="card border-0" style="background: #FAFAFA;">
        <div class="card-body" >
          <p class="price-label">Precio</p>          
          <p class="price">$ {{carDisplay.price | number:'3.0-0'}} </p>
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-primary button-a border-0" 
            data-bs-toggle="modal" data-bs-target="#modalContact">
              !ME INTERESA¡
            </button>
            <button style="visibility: hidden;" type="button" class="btn btn-primary button-b border-0">SIMULAR CRÉDITO</button>
          </div>
        </div>
      </div>

      <div class="card border-0">
        <img src="../../../assets/images/home2/rental-vehicle@2x.svg" >
      </div>

    </div>
  </div>

  <div class="container text-center">

    <div class="row">
      <div class="col-sm col-4" style="gap: 3.5rem;">
        <div class="container-button">
          <img src="../../../assets/images/rounded.png" style="width:100%;">
          <div class="text-block">Tipo {{carDisplay.type}}</div>        
        </div> 
      </div>

      <div class="col-sm col-4" style="gap: 3.5rem;">
        <div class="container-button">
          <img src="../../../assets/images/rounded.png" style="width:100%;">
          <div class="text-block">Pasajeros</div>
        </div> 
      </div>

      <div class="col-sm col-4" style="gap: 3.5rem;">
        <div class="container-button">
          <img src="../../../assets/images/rounded.png" style="width:100%;">
          <div class="text-block">Puertas</div>
        </div> 
      </div>

      <div class="col-sm col-4" style="gap: 3.5rem;">
        <div class="container-button">
          <img src="../../../assets/images/rounded.png" style="width:100%;">
          <div class="text-block">Kms</div>
        </div> 
      </div>

      <div class="col-sm col-4" style="gap: 3.5rem;">
        <div class="container-button">
          <img src="../../../assets/images/rounded.png" style="width:100%;">
          <div class="text-block">Año {{carDisplay.year}}</div>
        </div> 
      </div>

      <div class="col-sm col-4" style="gap: 3.5rem;">
        <div class="container-button">
          <img src="../../../assets/images/rounded.png" style="width:100%;">
          <div class="text-block">Combustible {{carDisplay.fuel}}</div>
        </div> 
      </div>

      <div class="col-sm col-4" style="gap: 3.5rem;">
        <div class="container-button">
          <img src="../../../assets/images/rounded.png" style="width:100%;">
          <div class="text-block">Transmisión {{carDisplay.transmission}}</div>
        </div> 
      </div>

      <div class="col-sm col-4" style="gap: 3.5rem;">
        <div class="container-button">
          <img src="../../../assets/images/rounded.png" style="width:100%;">
          <div class="text-block">Motor {{carDisplay.engine}}</div>
        </div> 
      </div>

      
    </div>

  </div>

</div>

<div class="equip-bar">
  EQUIPAMIENTO
</div>

<div class="container-garantia-bar" style="display: none;">
  <div class="garantia-bar">
    <p class="titulo-garantia-bar">Garantía Mube</p>    
    <p class="texto-garantia-bar">
      Este automóvil fue inspeccionado en más de 350 puntos, con los mayores estándares de calidad. Por eso es que tiene una garantía mecáncia de 3 meses que es extendible hasta 15.
    </p>
  </div>  
</div>

<img class="garantia1" src="../../../assets/images/garantia.png" style="width:100%;">
<img class="garantia2" src="../../../assets/images/garantia2.png" style="width:100%;">
  
<div class="consejos">
  <div class="container p-5" >
    <div class="row">
  
      <div class="col-sm">
        <div class="card garantia3" >
          <div class="card-body">
            <p class="card-title titulo">Garantizamos que cada auto usado tiene:</p>
            <div class="row" style="line-height: 30px;">
              <div class="col" style="font-size: smaller;">
                <p>Documentación Verificada</p>            
                <p>Kilometraje real sin alteración</p>            
                <p>Sin reparaciones en estructura</p>            
                <p>Garantía 3 meses</p>            
              </div>
              <div class="col" style="font-size: smaller;">
                <p>Sistema eléctrico</p>            
                <p>Dirección y Suspensión</p>            
                <p>Apariencia y Carrocería</p>            
              </div>    
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="card mx-auto" style="background: none; border: 1px solid black; width: 300px; height: 260px;">
          <div class="card-body">
            <p class="card-title titulo">Sigue estos consejos de seguridad</p>
            <p class="card-text" style="font-size: smaller;">
                Nunca te pediremos dinero por adelantado por la compra de tu auto.
            </p>
            <p class="card-text" style="font-size: smaller;">        
                Nunca te solicitaremos que reveles tus datos personales por ningún medio.  
            </p>
            <p class="card-text" style="font-size: smaller;">
                Nunca te pediremos claves de correo, cuenta bancaria, códigos de Whatsapp ni de tus redes sociales.          
            </p>        
          </div>
        </div>
      </div>
  
      <div class="col-sm">
        <div class="card" style="background: none; border: 0px;">
          <img src="../../../assets/images/home2/rectangle@2x.png" style="width: 78%;" >
        </div>
      </div>  

</div>
</div>
</div>


  <div class="container-fluid">
    <div class="row g-0 border-0 p-5" >
      <div class="col" >
        <div class="card border-0" style="width: 400px;"  >
  
          <div >
            <img class="group-86" src="../../../../assets/images/home2/group-86@2x.svg" />
            <div class="en-mube-queremos-hac montserrat-medium-white-20px">
              <span class="montserrat-medium-blumine-16px">En </span
              ><span class="montserrat-extra-bold-robins-egg-blue-20px">mube</span
              ><span class="montserrat-medium-blumine-16px">
                queremos hacer las cosas bien: facilitamos el camino usando tecnología para garantizar
                experiencias cómodas y fluidas. Ayudamos a las personas a conseguir lo que buscan. Al que no
                conozca el precio, lo ayudamos a definirlo. A quien no tiene recursos inmediatos, podemos
                financiarlo</span
              >
            </div>
          </div>
          
  
        </div>
      </div>
      <div class="col" >
        <div class="card border-0"  >
  
          <div >
            <div class="link montserrat-bold-blumine-16px">Home</div>
            <div class="link montserrat-bold-blumine-16px">Comprar un auto</div>
            <div class="link montserrat-bold-blumine-16px">Vender un auto</div>              
            <div class="link montserrat-bold-blumine-16px">Financiamiento</div>                 
            <div class="link montserrat-bold-blumine-16px">Autos garantizados</div>
          </div>
          
        </div>
      </div>
      <div class="col">
        <div class="card border-0">
  
          <div >
            <div class="link montserrat-bold-blumine-16px">Sobre nosotros</div>
            <div class="link montserrat-bold-blumine-16px">¿Cómo funciona mube?</div>
            <div class="link montserrat-bold-blumine-16px">¿Cómo comprar?</div>                
            <div class="link montserrat-bold-blumine-16px">Términos y condiciones</div>
            <div class="link montserrat-bold-blumine-16px">Aviso de privacidad</div>
            <div class="link montserrat-bold-blumine-16px">FAQ’s</div>
          </div>
  
        </div>
      </div>
      <div class="col" >
        <div class="card border-0" style="margin-top: 35px;" >
  
          <div >
            <div class="contctanos montserrat-bold-blumine-24px">CONTÁCTANOS</div>
            <div class="contactomubecl montserrat-normal-blumine-20px">contacto@mube.cl</div>
            <div class="phone montserrat-normal-blumine-20px">+569 3254 1255</div>
            
            <div class="overlap-group-container">
              <div class="overlap-group-2">
                <div class="component-2">
                  <div class="cmo-comprar valign-text-middle gotham-bold-blumine-16px">Enviar correo</div>
                </div>
              </div>                
            </div>
  
          </div>
  
  
        </div>
      </div>  
    </div>
  </div>


  <div class="overlap-group11">
    <div class="montserrat-medium-white-20px-2">
      2022 © Todos los derechos reservados
    </div>
  </div>



  <div class="modal fade" id="modalContact" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title fs-4" id="exampleModalLabel">Contáctanos</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body fs-6" style="text-align: center;">
          <div>contacto@mube.cl</div>
          <div>+569 3254 1255</div>
        </div>
      </div>
    </div>
  </div>
  