<mat-toolbar style="min-height: 57px !important; height: 57px !important; background-color: black;">
    <div>
        <a [routerLink]="['/']" >
            <img src="assets/images/mube-logo.png" style="width: 140px;" >
        </a>
    </div>
    <div class="opciones-menu" >
        <a [routerLink]="['/selling']" >
            Compra un auto
        </a>

        <a  >
            Crédito
        </a>

        <a  [routerLink]="['/login']">
            Iniciar Sesión
        </a>
        o
        <a  [routerLink]="['/signup']">
            Registrarse
        </a>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>
