a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }

  a {
    color: white;
    text-align: right;
  }

  .opciones-menu {
    margin-left: auto;
    display: block;
  }

  .opciones-menu > a {
    margin-left: 20px;
  }