
<div >
  <div class="home">
    <div >

        <mat-toolbar style="min-height: 70px !important; height: 70px !important; background-color: white; ">
            <div>
                <a [routerLink]="['/']" >
                    <img src="../../../assets/images/mube-logo.png" style="width: 140px;" >
                </a>
            </div>
            <div class="opciones-menu" >
                <a [routerLink]="['/add']" class="montserrat-medium-blumine-20px" >
                    Vende tu auto
                </a>
        
                <a [routerLink]="['/selling']" class="montserrat-medium-blumine-20px">
                    Comprar
                </a>
                <a  class="montserrat-medium-blumine-20px">
                    ¿Cómo comprar?
                </a>
                <a  class="montserrat-medium-blumine-20px">
                    ¿Cómo vender?
                </a>
                <a  class="montserrat-medium-blumine-20px">
                    Financiamiento
                </a>
            </div>
        <div class="opciones-menu-login">
            <a  [routerLink]="['/login']">
                Iniciar Sesión
            </a>
        </div>
        
        
        </mat-toolbar>
        

      <div >
        <img class="line-7" src="../../../../assets/images/home2/line-7@2x.svg" />
        <div class="plataforma-que-facil">
          <span class="span0">Plataforma que facilita la compra<br /></span
          ><span class="span">y venta de autos entre personas.</span>
        </div>
        <img src="../../../assets/images/home1.png" style="width: 100%;"  >

        <div class="button-row">

            <div class="component-2">
                <div class="cmo-comprar valign-text-middle gotham-bold-blumine-20px">Quiero vender</div>
              </div>

              <div class="component-7">
                <div class="cmo-comprar valign-text-middle gotham-bold-white-20px">Quiero comprar</div>
              </div>

        </div>
        
      </div>
      
      <div class="group-125">
        <div class="overlap-group8">
          <div class="overlap-group-4">
            <img class="frame" src="../../../../assets/images/home2/frame@2x.svg" />
            <h1 class="title">Somos</h1>
            <div class="te-ayudamos-a-encont">
              <span class="span">Te ayudamos a</span><span class="span1-1"> encontrar<br />el auto</span
              ><span class="span"> que estás buscando</span>
            </div>
          </div>
          <div class="component-7">
            <div class="cmo-comprar valign-text-middle gotham-bold-white-20px">¿Quiénes somos?</div>
          </div>
        </div>
        <div ><img class="line-10" src="../../../../assets/images/home2/line-10@2x.svg" /></div>
        <div style="width: 40%;">
            <img src="../../../assets/images/home2.png" style="width: 100%;"  >
        </div>
      </div>


      <div class="overlap-group20">
        <div class="overlap-group1">
          <div class="overlap-group18">
            <div class="rectangle-57"></div>
            <div class="razones-para-confiar-en-nosotros montserrat-medium-white-40px">
              <span class="montserrat-medium-blumine-24px">Razones para</span>
              <span class="span1">&nbsp;</span>
              <span class="montserrat-medium-blumine-24px">confiar en nosotros</span>
            </div>
          </div>
        </div>

    <div style="position:absolute;">
          <div class="x100-seguro montserrat-medium-blumine-16px">100% Seguro</div>
          <div class="vende-ms-rpido montserrat-medium-blumine-16px">Vende Más Rápido</div>
          <div class="no-te-quedas-sin-auto montserrat-medium-blumine-16px">No te quedas sin auto</div>    

          <div class="ms-dinero-para-ti montserrat-medium-blumine-16px">Más dinero para ti</div>
          <div class="sin-complicaciones montserrat-medium-blumine-16px">Sin complicaciones</div>
          <div class="transferencia-digital montserrat-medium-blumine-16px">Transferencia Digital</div>

        <div class="ellipse-13"></div>
        <div class="ellipse-14"></div>
        <div class="ellipse-15"></div>
        <div class="ellipse-16"></div>
        <div class="ellipse-17"></div>
        <div class="ellipse-18"></div>

        <p class="transferencia-online valign-text-middle montserrat-medium-blumine-14px">
          Transferencia online, cuidamos tus pagos para evitar fraudes.
        </p>
        <p class="ahorra-hasta-un-20 valign-text-middle montserrat-medium-blumine-14px">
          Ahorra hasta un 20%-25% del valor de tu auto vs Compraventas.
        </p>
        <p class="nos-encargamos-de-to valign-text-middle montserrat-medium-blumine-14px">
          Nos encargamos de todo. Lo mostramos, publicamos y vendemos
        </p>
        <p class="proceso-digital-con valign-text-middle montserrat-medium-blumine-14px">
        Proceso digital, con atención personalizada. No tratas con extraños.
        </p>
        <p class="usamos-tecnologa-y valign-text-middle montserrat-medium-blumine-14px">
        Usamos tecnología y partners financieros para vender tu auto.
        </p>
        <p class="puedes-usar-tu-auto valign-text-middle montserrat-medium-blumine-14px">
        Puedes usar tu auto y tenerlo contigo todo el proceso.
        </p>
    </div>

    <div class="overlap-group13 montserrat-medium-black-16px">
        <img class="foto" src="../../../../assets/images/home2/foto@1x.svg" />
        <img class="foto-1" src="../../../../assets/images/home2/foto-1@1x.svg" />
        <img class="foto-2" src="../../../../assets/images/home2/foto@1x.png" />
        <img class="group-7" src="../../../../assets/images/home2/group-7@1x.svg" />

      </div>

        <div class="sin-complicaciones-n">
            <span class="span0-1">Sin complicaciones<br /></span>
            <span class="span1-2">Nosotros nos encargamos de todo el proceso</span>
        </div>


      </div>


      <div class="overlap-group14">
        <p class="te-evitamos-todo-el montserrat-medium-white-16px">
          Te evitamos todo el estrés de publicarlo en cada página de ventas, nosotros nos encargamos por ti
        </p>
        <p class="a-travs-de-un-model">
          A través de un modelo predictivo y data mining buscamos compradores para poder vender tu auto más rápido.
        </p>
        <div class="flex-row-1">
          <img class="line-8" src="../../../../assets/images/home2/line-8@2x.svg" />
          <img class="mask-group-1" src="../../../../assets/images/home2/mask-group@2x.svg" />
        </div>
        <div class="flex-col-1">
          <div class="buscamos-tu-nuevo-auto-container montserrat-bold-white-20px">
            <div class="buscamos-tu-nuevo-auto">Buscamos tu nuevo auto</div>
            <div class="buscamos-tu-nuevo-auto-1">Buscamos tu nuevo auto</div>
          </div>
          <div class="no-solamente-buscamo-container montserrat-medium-white-16px">
            <p class="no-solamente-buscamo">No solamente buscamos a tu comprador, si no, también tu nuevo auto</p>
            <p class="no-solamente-buscamo-1">No solamente buscamos a tu comprador, si no, también tu nuevo auto</p>
          </div>

        </div>
        <div class="auto-container">
          <div class="cmo-vendemos-tu-auto montserrat-bold-blumine-24px">¿Cómo vendemos tu auto?</div>
          <div class="amos-tu-auto-container montserrat-bold-white-20px">
            <div class="lavamos-tu-auto">Lavamos tu auto</div>
            <div class="fotografiamos-tu-auto">Fotografiamos tu auto</div>
          </div>
          <div class="flex-row-2 montserrat-medium-white-16px">
            <p class="nuestro-equipo-va-ha">Nuestro equipo va hasta tu casa a limpiar tu auto</p>
            <p class="luego-de-la-limpieza">Luego de la limpieza, hacemos las fotos de tu auto por ti</p>
          </div>
          <div class="camos-container montserrat-bold-white-20px">
            <div class="lo-publicamos-en-la-web">Lo publicamos en la web</div>
            <div class="buscamos-comprador">Buscamos Comprador</div>
          </div>
        </div>

        <div class="com-container">
            <div class="con-las-compraventas">
              Con las compraventas y concesionarias tradicionales pierdes hasta un 25% del valor de tu auto
            </div>
            <div class="nuestra-comisin-es-de-un-35 montserrat-bold-white-24px">
              Nuestra comisión es de un 3,5%.
            </div>
          </div>


      </div>

      <div class="flex-row-3">
        <img class="line-9" src="../../../../assets/images/home2/line-9@2x.svg" />
        <div class="flex-col-2">
          <div class="cmo-comprar-un-auto montserrat-bold-blumine-48px">¿Cómo comprar un auto?</div>
          <div class="entra-al-catlogo montserrat-bold-blumine-24px">Entra al catálogo</div>
          <p class="flex-col-item montserrat-medium-blumine-16px">
            Entra a nuestro catálogo de autos y haz click sobre el que te interesa. En la ficha del auto responde el
            formulario de datos de contacto para que un especialista se comunique contigo.
          </p>
          <div class="solicita-una-prueba-de-manejo montserrat-bold-blumine-24px">Solicita una prueba de manejo</div>
          <p class="flex-col-item montserrat-medium-blumine-16px">
            Nos comunicaremos contigo para agendar tu prueba de manejo y confirmar tu forma de pago; la compra es 100%
            digital sin salir de tu casa.
          </p>
          <div class="cmpralo-fcil-y-seguro montserrat-bold-blumine-24px">Cómpralo fácil y seguro</div>
          <p class="flex-col-item montserrat-medium-blumine-16px">
            Si te gustó el auto, confirma tu compra. Firma el contrato de compraventa, nosotros confirmaremos la
            transferencia de fondos y recibirás tu auto de forma cómoda y segura.
          </p>
        </div>
        <div class="overlap-group16">
          <div class="rectangle-73"></div>
          <img class="mask-group-2" src="../../../../assets/images/home2/mask-group-1@1x.svg" />
          <img class="line-11" src="../../../../assets/images/home2/line-11@2x.svg" />
        </div>
      </div>
      


      

  </div>
</div>