<nav class="navbar navbar-expand-lg" >
  <div class="container-fluid">

    <a [routerLink]="['/']" >
      <img src="../../../assets/images/mube-logo.png" style="width: 110px;" >
    </a>  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>    

    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="navbarToggler">
      <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a [routerLink]="['/selling']" class="nav-link montserrat-medium-bluminepx" href="#">Compra un auto</a>
          </li>
          <li class="nav-item">
            <a style="display: none;" [routerLink]="['/add']" class="nav-link montserrat-medium-bluminepx" href="#">Vende tu auto</a>
          </li>
          <li class="nav-item">
            <a style="display: none;" class="nav-link montserrat-medium-bluminepx" href="#">¿Cómo comprar?</a>
          </li>
          <li class="nav-item">
            <a style="display: none;" class="nav-link montserrat-medium-bluminepx" href="#">¿Cómo vender?</a>
          </li>
          <li class="nav-item">
            <a style="display: none;" class="nav-link montserrat-medium-bluminepx" href="#">Financiamiento</a>
          </li>
          <li class="nav-item">
            <a style="display: none;" class="nav-link montserrat-medium-bluminepx" href="#">Nosotros</a>
          </li>
          <li class="nav-item" style="margin-left: 40px;">
            <a style="display: none;" class="nav-link opciones-menu-login" href="#">Iniciar Sesión</a>
          </li>
        </ul>
    </div>
  </div>
</nav>

<div class="container-banner">
  <img class="home-img" src="../../../assets/images/home1.png" >
  <img class="line-7" src="../../../../assets/images/home2/line-7@2x.svg" />
  <div class="plataforma-que-facil">
    <span class="span0">Plataforma que facilita la compra<br /></span>
    <span class="span">y venta de autos entre personas.</span>
  </div>

  <div class="button-row">
    <div class="component-7" style="visibility: hidden;" >
      <div class="cmo-comprar valign-text-middle gotham-bold-blumine-16px">¿Cómo comprar?</div>
    </div>
    <div class="component-2" style="visibility: hidden;" >
      <div class="cmo-comprar valign-text-middle gotham-bold-blumine-16px">¿Cómo vender?</div>
    </div>
    <a [routerLink]="['/selling']">
      <div class="component-7">
          <div class="cmo-comprar valign-text-middle gotham-bold-white-20px">Autos disponibles</div>
      </div>
    </a>            
  </div>

</div>

<div class="container p-0 m-0">

  <div class="row g-0">
    <div class="col" style="flex: 0 0 auto; width: 46%; display: flex;">

        <img class="somos-img" src="../../../assets/images/somos1.png" >      

    </div>
    <div class="col boton-somos">
      <div class="component-somos" >
        <div class="cmo-comprar valign-text-middle gotham-bold-white-20px">¿Quiénes somos?</div>
      </div>
    </div>
    <div class="col somos2" >

        <img class="somos-img" src="../../../assets/images/home2.png" >

    </div>
  </div>

</div>


<div class="row g-0">
  <div class="col-sm-6">
    <div class="card border-0 ">
      <img  src="../../../assets/images/razones1.png"   >
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card border-0 ">
      <img src="../../../assets/images/razones2.png"  >
    </div>
  </div>
</div>

<img class="como-vendemos-img"  src="../../../assets/images/como-vendemos.png"   >

<div class="container text-center como-vend-container" >
  <div class="row">
    <div class="col">

      <div class="cmo-vendemos-tu-auto montserrat-bold-blumine-24px">¿Cómo vendemos tu auto?</div>

      <img class="vendemos-img"  src="../../../assets/images/vendemos1.png"   >
      <img class="vendemos-img"  src="../../../assets/images/vendemos2.png"   >
      <img class="vendemos-img"  src="../../../assets/images/vendemos3.png"   >    

      <div class="con-las-compraventas">
      Con las compraventas y concesionarias tradicionales pierdes hasta un 25% del valor de tu auto
      </div>
      <div class="nuestra-comisin-es-de-un-35 montserrat-bold-white-24px">
      Nuestra comisión es de un 3,5%.
      </div>

    </div>
  </div>
</div>

<div class="row g-0">
  <div class="col">
    <div class="card border-0 ">
      <img  src="../../../assets/images/compara.png"   >
    </div>
  </div>
</div>

<div class="row g-0">
  <div class="col-sm-6">
    <div class="card border-0 ">
      <img  src="../../../assets/images/como-comprar1.png"   >
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card border-0 ">
      <img src="../../../assets/images/como-comprar2.png"  >
    </div>
  </div>
</div>

<div class="ltimos-autos-publicados">
  <span class="montserrat-medium-blumine-40px">Últimos autos publicados</span>          
</div>


<div style="padding: 16px;">
        
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="25%" *ngFor="let car of carsDisplay | slice:0:4;">
      
      <div class="card" style="width: 16rem;" [routerLink] = "['/detail', car.id]" >
        <img class="rounded-top" [src]="car.imgMain">
        <div class="card-body">
          <h5 class="titleh5"><span style="font-weight: bold;">{{$any(car).brand}} {{$any(car).model}} |</span> {{$any(car).year}}</h5>
          <p class="titleh4">{{$any(car).kilometers}}km - {{$any(car).fuel}} - {{$any(car).transmission}}</p>
          <p class="price">
            $ {{$any(car).price | number:'3.0-0'}}
          </p>
          <p class="titleh4">
            Sujeto a financiamiento
          </p>
        </div>
      </div>
    
    </div>
  </div>          
  
</div>

<div class="boton-ver-mas">
  <a [routerLink]="['/selling']">
    <div class="component-2">
      <div class="cmo-comprar valign-text-middle gotham-bold-blumine-16px">Ver más</div>
    </div>          
  </a>
</div>

<div class="ltimos-autos-publicados">
  <span class="montserrat-medium-blumine-40px">Reseñas recientes</span>          
</div>


<div class="row" style="padding: 40px;">
  <div class="col-sm-4" style="display: flex; justify-content: center;">
    <div class="card" style="width: 23rem;" >
      <img class="rounded-top" src="../../../../assets/images/home2/image-13@1x.png">
      <div class="card-body">
        <div class="suzuki-swift-2012 gotham-bold-robins-egg-blue-20px">Suzuki Swift 2012</div>
        <p class="vend-mi-auto-en-mu gothambook-italic-normal-blumine-14px">
          “Vendí mi auto en Mube y en todo momento la atención fue buenísima, súper puntuales y atentos.
          Cumplieron todo lo que prometieron y me sentí segura durante toda la venta. Sin duda lo recomiendo.”
        </p>
        <div class="mariel-soriano gothambook-italic-normal-blumine-20px">Mariel Soriano</div>    
      </div>
    </div>
  </div>
  <div class="col-sm-4" style="display: flex; justify-content: center;">
    <div class="card" style="width: 23rem;" >
      <img class="rounded-top" src="../../../../assets/images/home2/image-13-1@1x.png">
      <div class="card-body">
        <div class="surname-1 gotham-bold-robins-egg-blue-20px">Ford Ranger 2011</div>
        <p class="la-seguridad-que-te gothambook-italic-normal-blumine-14px">
          "La seguridad que te dan desde que inicias la intención de comprar un auto, el seguimiento, la
          seriedad, el trato...en lo personal, fue una experiencia muy grata y por ello recomiendo a Mube.""
        </p>
        <div class="ral-oribe-mendoza gothambook-italic-normal-blumine-20px">Raúl Oribe Mendoza</div>  
      </div>
    </div>
  </div>
  <div class="col-sm-4" style="display: flex; justify-content: center;">
    <div class="card" style="width: 23rem;" >
      <img class="rounded-top" src="../../../../assets/images/home2/image-13-2@1x.png">
      <div class="card-body">
        <div class="audi-a3-2015 gotham-bold-robins-egg-blue-20px">Audi A3 2015</div>
        <p class="su-atencin-de-calid gothambook-italic-normal-blumine-14px">
          "Su atención de calidad, asesoramiento y guía constante, excelente trato de su equipo. hicieron que el
          proceso fuera super fácil.""
        </p>
        <div class="ericka-martnez gothambook-italic-normal-blumine-20px">Ericka Martínez</div>
      </div>
    </div>
  </div>  
</div>


<div class="simula-parent">
<div class="simula-tu-crdito1">
  <div class="simula-tu-crdito">
    <span class="span1 montserrat-bold-blumine-48px">Simula tu&nbsp;</span>
    <span class="span2">crédito</span>
  </div>
  <div class="encuentra-tu-prximo">Encuentra tu próximo auto con el financiamiento que necesitas</div>
    <div class="cotizar-aqui" data-bs-toggle="modal" data-bs-target="#modalContact">
      <div class="cmo-comprar valign-text-middle gotham-bold-blumine-16px">Cotizar Aquí</div>
    </div>          
</div>
</div>

<div class="preguntas-frecuentes montserrat-medium-white-40px">
  <span class="montserrat-medium-blumine-40px">Preguntas</span><span class="span1-4"> frecuentes</span>
</div>

<div class="accordion accordion-flush" id="accordionExample" style="text-align: justify;">
        
  <div class="container">
    <div class="row">
      <div class="col">

          <div class="">
            <h2 class="accordion-header" id="heading1">
              <button class="accordion-button collapsed montserrat-semi-bold-robins-egg-blue-20px" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                  ¿Por qué usar mube?
              </button>
            </h2>
            <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#accordionExample">
              <div class="accordion-body montserrat-medium-blumine-14px">
                Somos un emprendimiento de tecnología que te hace más fácil la compra y venta de tu auto entre personas de forma segura, cómoda y al precio justo. Somos una plataforma que te ayuda a personas a concretar una transacción de compraventa, nos encargamos de todos los tramites y documentación en la compraventa, para que tu no te preocupes de procesos largos y tediosos para ti. Esto permite que un vendedor reciba más dinero por su auto, y que un comprador obtenga el mejor precio.
              </div>
            </div>
          </div>

          <div class=" ">
            <h2 class="accordion-header" id="heading2">
              <button class="accordion-button collapsed montserrat-semi-bold-robins-egg-blue-20px" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                ¿Cuánto cuesta vender mi auto en mube?
              </button>
            </h2>
            <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordionExample" >
              <div class="accordion-body montserrat-medium-blumine-14px">
                En mube solo recibimos una comisión si vendemos tu auto, lo vendemos con transparencia, seguridad y al mejor precio, sin que tu inviertas en anuncios clasificados, nosotros nos encargamos de concretar la venta. Nuestra comisión va del 2% al 3,5% del valor de la transacción. Desde que cotizas tu auto, conoces el monto que recibirás en tu cuenta de banco y el valor de la comisión.
              </div>
            </div>
          </div>
          <div class="">
            <h2 class="accordion-header" id="heading3">
              <button class="accordion-button collapsed montserrat-semi-bold-robins-egg-blue-20px" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                ¿Cómo puedo ver un auto que me interese?
              </button>
            </h2>
            <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordionExample">
              <div class="accordion-body montserrat-medium-blumine-14px">
                Para ver un auto de nuestro catálogo, puedes reservar una cita enviándonos un mensaje. Podrás hacer una prueba de manejo y conocerlo a detalle en la comodidad de tu hogar, nosotros lo llevaremos allí. En mube compras de forma segura un auto que hasta ese momento pertenece a otra persona y no contamos con salas de exhibición.
              </div>
            </div>
          </div>
          <div class="">
            <h2 class="accordion-header" id="heading4">
              <button class="accordion-button collapsed montserrat-semi-bold-robins-egg-blue-20px" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                ¿En mube tengo que dejar mi auto en consigna?
              </button>
            </h2>
            <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionExample">
              <div class="accordion-body montserrat-medium-blumine-14px">
                En mube no dejas tu auto en consigna, podrás usarlo y tenerlo contigo hasta el momento que encontremos a un comprador y cerremos el trato de compraventa. El auto se queda con el vendedor durante todo el proceso, solo nos ponemos en contacto cuando tenemos un comprador potencial que está dispuesto a pagar el precio sugerido por nosotros.
              </div>
            </div>
          </div>    
          <div class="">
            <h2 class="accordion-header" id="heading5">
              <button class="accordion-button collapsed montserrat-semi-bold-robins-egg-blue-20px" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                Ya me anuncio en otras plataformas ¿Qué beneficio me da mube? 
              </button>
            </h2>
            <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordionExample">
              <div class="accordion-body montserrat-medium-blumine-14px">
                Mostramos y promovemos activamente tu auto a un mayor número de interesados en autos como el tuyo. Lo publicamos en nuestro catálogo y lo difundimos en diferentes plataformas de anuncios. Como solo cobramos la comisión hasta el momento en que vendes tu auto, nos esforzamos para encontrar al comprador, contamos con un equipo especializado para concretar la transacción y hacemos todo el proceso de venta por ti de la forma más segura, fácil y transparente.
              </div>
            </div>
          </div> 
      </div>
      <div class="col">                  
          <div class="">
            <h2 class="accordion-header" id="heading6">
              <button class="accordion-button collapsed montserrat-semi-bold-robins-egg-blue-20px" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                ¿Cómo funciona mube?
              </button>
            </h2>
            <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#accordionExample">
              <div class="accordion-body montserrat-medium-blumine-14px">
                Somos una startup de tecnología que te hace más fácil la compra y venta de tu auto entre personas de forma segura, cómoda y al precio justo. Somos la única plataforma que ayuda a personas a concretar una transacción de compraventa, minimizamos todos los costos operativos y de intermediación, para devolver ese valor a compradores y vendedores. Esto permite que un vendedor reciba más dinero por su auto, y que un comprador obtenga el mejor precio.
              </div>
            </div>
          </div>

          <div class=" ">
            <h2 class="accordion-header" id="heading7">
              <button class="accordion-button collapsed montserrat-semi-bold-robins-egg-blue-20px" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                ¿Por qué mube obtiene una comisión?
              </button>
            </h2>
            <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7" data-bs-parent="#accordionExample">
              <div class="accordion-body montserrat-medium-blumine-14px">
                En mube solo recibimos una comisión si vendemos tu auto, lo vendemos con transparencia, seguridad y al mejor precio, sin que tu inviertas en anuncios clasificados, nosotros nos encargamos de concretar la venta. Nuestra comisión va del 2% al 3% del valor de la transacción. Desde que cotizas tu auto, conoces el monto que recibirás en tu cuenta de banco y el valor de la comisión.
              </div>
            </div>
          </div>
          <div class="">
            <h2 class="accordion-header" id="heading8">
              <button class="accordion-button collapsed montserrat-semi-bold-robins-egg-blue-20px" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                ¿Mube es una agencia?
              </button>
            </h2>
            <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#accordionExample">
              <div class="accordion-body montserrat-medium-blumine-14px">
                Para ver un auto de nuestro catálogo, puedes reservar una cita enviándonos un mensaje o tu información de contacto en la ficha de cada auto. Podrás hacer una prueba de manejo y conocerlo a detalle en uno de nuestros Centros de Certificación Autorizados. En mube compras de forma segura un auto que hasta ese momento pertenece a otra persona y no contamos con salas de exhibición.
              </div>
            </div>
          </div>
          <div class="">
            <h2 class="accordion-header" id="heading9">
              <button class="accordion-button collapsed montserrat-semi-bold-robins-egg-blue-20px" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                ¿Tengo que mostrar mi auto o lo hace mube por mi?
              </button>
            </h2>
            <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9" data-bs-parent="#accordionExample" >
              <div class="accordion-body montserrat-medium-blumine-14px">
                En mube no dejas tu auto en consigna, podrás usarlo y tenerlo contigo hasta el momento que encontremos a un comprador y cerremos el trato de compraventa. El auto se queda con el vendedor durante todo el proceso, solo nos ponemos en contacto cuando tenemos un comprador potencial que está dispuesto a pagar el precio sugerido por Mube.
              </div>
            </div>
          </div>    
          <div class="">
            <h2 class="accordion-header" id="heading10">
              <button class="accordion-button collapsed montserrat-semi-bold-robins-egg-blue-20px" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                ¿Qué pasa si compro o vendo directamente mi auto a otra persona?
              </button>
            </h2>
            <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10" data-bs-parent="#accordionExample" >
              <div class="accordion-body montserrat-medium-blumine-14px">
                Mostramos y promovemos activamente tu auto a un mayor número de interesados en autos como el tuyo. Lo publicamos en nuestro catálogo y lo difundimos en diferentes plataformas de anuncios. Como solo cobramos la comisión hasta el momento en que vendes tu auto, nos esforzamos para encontrar al comprador, contamos con un equipo especializado para concretar la transacción y hacemos todo el proceso de venta por ti de la forma más segura, fácil y transparente. 
              </div>
            </div>
          </div> 
        
      </div>
    </div>
  </div>

</div>  

<div class="container-fluid">
  <div class="row g-0 border-0 p-5" >
    <div class="col" >
      <div class="card border-0" style="width: 400px;"  >

        <div >
          <img class="group-86" src="../../../../assets/images/home2/group-86@2x.svg" />
          <div class="en-mube-queremos-hac montserrat-medium-white-20px">
            <span class="montserrat-medium-blumine-16px">En </span
            ><span class="montserrat-extra-bold-robins-egg-blue-20px">mube</span
            ><span class="montserrat-medium-blumine-16px">
              queremos hacer las cosas bien: facilitamos el camino usando tecnología para garantizar
              experiencias cómodas y fluidas. Ayudamos a las personas a conseguir lo que buscan. Al que no
              conozca el precio, lo ayudamos a definirlo. A quien no tiene recursos inmediatos, podemos
              financiarlo</span
            >
          </div>
        </div>
        

      </div>
    </div>
    <div class="col" >
      <div class="card border-0"  >

        <div >
          <div class="link montserrat-bold-blumine-16px">Home</div>
          <div class="link montserrat-bold-blumine-16px">Comprar un auto</div>
          <div class="link montserrat-bold-blumine-16px">Vender un auto</div>              
          <div class="link montserrat-bold-blumine-16px">Financiamiento</div>                 
          <div class="link montserrat-bold-blumine-16px">Autos garantizados</div>
        </div>
        
      </div>
    </div>
    <div class="col">
      <div class="card border-0">

        <div >
          <div class="link montserrat-bold-blumine-16px">Sobre nosotros</div>
          <div class="link montserrat-bold-blumine-16px">¿Cómo funciona mube?</div>
          <div class="link montserrat-bold-blumine-16px">¿Cómo comprar?</div>                
          <div class="link montserrat-bold-blumine-16px">Términos y condiciones</div>
          <div class="link montserrat-bold-blumine-16px">Aviso de privacidad</div>
          <div class="link montserrat-bold-blumine-16px">FAQ’s</div>
        </div>

      </div>
    </div>
    <div class="col" >
      <div class="card border-0" style="margin-top: 35px;" >

        <div >
          <div class="contctanos montserrat-bold-blumine-24px">CONTÁCTANOS</div>
          <div class="contactomubecl montserrat-normal-blumine-20px">contacto@mube.cl</div>
          <div class="phone montserrat-normal-blumine-20px">+569 3254 1255</div>
          
          <div class="overlap-group-container">
            <div class="overlap-group-2">
              <div class="component-2">
                <div class="cmo-comprar valign-text-middle gotham-bold-blumine-16px">Enviar correo</div>
              </div>
            </div>                
          </div>

        </div>


      </div>
    </div>  
  </div>
</div>

<div class="overlap-group11">
  <div class="montserrat-medium-white-20px-2">
    2022 © Todos los derechos reservados
  </div>
</div>


<div class="modal fade" id="modalContact" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title fs-4" id="exampleModalLabel">Contáctanos</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body fs-6" style="text-align: center;">
        <div>contacto@mube.cl</div>
        <div>+569 3254 1255</div>
      </div>
    </div>
  </div>
</div>
