
<div class="container-center-horizontal">
  <div class="home screen">
    <div class="flex-col">


        
      <div class="barra">
        <img class="logo" src="../../../../assets/images/home2/logo@2x.svg" />
        <div class="navbar">
          <div class="navbar-link-vende-tu-auto montserrat-medium-blumine-20px">Vende tu auto</div>
          <a href="quiero-comprar.html"
            ><div class="navbar-link-comprar montserrat-medium-blumine-20px">Comprar</div> </a
          ><a href="como-lo-hacemos.html"
            ><div class="navbar-link-cmo-comprar montserrat-medium-blumine-20px">¿Cómo comprar?</div> </a
          ><a href="como-lo-hacemos.html"
            ><div class="navbar-link montserrat-medium-blumine-20px">¿Cómo vender?</div> </a
          ><a href="financiamiento.html"
            ><div class="navbar-link montserrat-medium-blumine-20px">Financiamiento</div>
          </a>
        </div>
        <div class="iniciar-sesin montserrat-black-blumine-16px">Iniciar Sesión</div>
      </div>



      <div class="overlap-group17">
        <img class="line-7" src="../../../../assets/images/home2/line-7@2x.svg" />
        <div class="plataforma-que-facil">
          <span class="span0">Plataforma que facilita la compra<br /></span
          ><span class="span">y venta de autos entre personas.</span>
        </div>
        <div class="flex-row">
          <div class="component-5">
            <div class="component-2">
              <div class="cmo-comprar valign-text-middle gotham-bold-blumine-20px">Quiero vender</div>
            </div>
          </div>
          <a href="quiero-comprar.html">
            <div class="group-12">
              <div class="overlap-group-3">
                <div class="quiero-comprar gotham-bold-white-20px">Quiero comprar</div>
              </div>
            </div></a
          >
        </div>
      </div>
      <div class="group-125">
        <div class="overlap-group8">
          <div class="overlap-group-4">
            <img class="frame" src="../../../../assets/images/home2/frame@2x.svg" />
            <h1 class="title">Somos</h1>
            <div class="te-ayudamos-a-encont">
              <span class="span">Te ayudamos a</span><span class="span1-1"> encontrar<br />el auto</span
              ><span class="span"> que estás buscando</span>
            </div>
          </div>
          <div class="component-7">
            <div class="cmo-comprar valign-text-middle gotham-bold-white-20px">¿Quiénes somos?</div>
          </div>
        </div>
        <div class="overlap-group9"><img class="line-10" src="../../../../assets/images/home2/line-10@2x.svg" /></div>
      </div>
      <div class="overlap-group20">
        <div class="overlap-group1">
          <div class="overlap-group18">
            <div class="rectangle-57"></div>
            <div class="razones-para-confiar-en-nosotros montserrat-medium-white-40px">
              <span class="montserrat-medium-blumine-40px">Razones para</span><span class="span1">&nbsp;</span
              ><span class="montserrat-medium-blumine-40px">confiar en nosotros</span>
            </div>
          </div>
          <div class="sin-complicaciones-n">
            <span class="span0-1">Sin complicaciones<br /></span
            ><span class="span1-2">Nosotros nos encargamos de todo el proceso</span>
          </div>
          <p class="proceso-digital-con valign-text-middle montserrat-medium-black-16px">
            Proceso digital, con atención personalizada. No tratas con extraños.
          </p>
          <div class="x100-seguro montserrat-medium-blumine-20px">100% Seguro</div>
          <div class="no-te-quedas-sin-auto montserrat-medium-blumine-20px">No te quedas sin auto</div>
          <div class="vende-ms-rpido montserrat-medium-blumine-20px">Vende Más Rápido</div>
          <div class="overlap-group13 montserrat-medium-black-16px">
            <img class="foto" src="../../../../assets/images/home2/foto@1x.svg" />
            <img class="foto-1" src="../../../../assets/images/home2/foto-1@1x.svg" />
            <img class="foto-2" src="../../../../assets/images/home2/foto@1x.png" />
            <img class="group-7" src="../../../../assets/images/home2/group-7@1x.svg" />
            <p class="usamos-tecnologa-y valign-text-middle">
              Usamos tecnología y partners financieros para vender tu auto.
            </p>
            <p class="puedes-usar-tu-auto valign-text-middle">
              Puedes usar tu auto y tenerlo contigo todo el proceso.
            </p>
          </div>
        </div>
        <div class="ms-dinero-para-ti montserrat-medium-blumine-20px">Más dinero para ti</div>
        <div class="transferencia-digital montserrat-medium-blumine-20px">Transferencia Digital</div>
        <div class="sin-complicaciones montserrat-medium-blumine-20px">Sin complicaciones</div>
        <div class="ellipse-13"></div>
        <div class="ellipse-14"></div>
        <div class="ellipse-15"></div>
        <div class="ellipse-16"></div>
        <div class="ellipse-17"></div>
        <div class="ellipse-18"></div>
        <p class="transferencia-online valign-text-middle montserrat-medium-black-16px">
          Transferencia online, cuidamos tus pagos para evitar fraudes.
        </p>
        <p class="ahorra-hasta-un-20 valign-text-middle montserrat-medium-black-16px">
          Ahorra hasta un 20%-25% del valor de tu auto vs Compraventas.
        </p>
        <p class="nos-encargamos-de-to valign-text-middle montserrat-medium-black-16px">
          Nos encargamos de todo. Lo mostramos, publicamos y vendemos
        </p>
      </div>
      <div class="overlap-group14">
        <p class="te-evitamos-todo-el montserrat-medium-white-16px">
          Te evitamos todo el estrés de publicarlo en cada página de ventas, nosotros nos encargamos por ti
        </p>
        <p class="a-travs-de-un-model">
          A través de un modelo predictivo y data mining buscamos compradores para poder vender tu auto más rápido.
        </p>
        <div class="flex-row-1">
          <img class="line-8" src="../../../../assets/images/home2/line-8@2x.svg" />
          <img class="mask-group-1" src="../../../../assets/images/home2/mask-group@2x.svg" />
        </div>
        <div class="flex-col-1">
          <div class="buscamos-tu-nuevo-auto-container montserrat-bold-white-24px">
            <div class="buscamos-tu-nuevo-auto">Buscamos tu nuevo auto</div>
            <div class="buscamos-tu-nuevo-auto-1">Buscamos tu nuevo auto</div>
          </div>
          <div class="no-solamente-buscamo-container montserrat-medium-white-16px">
            <p class="no-solamente-buscamo">No solamente buscamos a tu comprador, si no, también tu nuevo auto</p>
            <p class="no-solamente-buscamo-1">No solamente buscamos a tu comprador, si no, también tu nuevo auto</p>
          </div>
          <div class="com-container">
            <div class="con-las-compraventas">
              Con las compraventas y concesionarias tradicionales pierdes hasta un 25% del valor de tu auto
            </div>
            <div class="nuestra-comisin-es-de-un-35 montserrat-bold-white-24px">
              Nuestra comisión es de un 3,5%.
            </div>
          </div>
        </div>
        <div class="auto-container">
          <div class="cmo-vendemos-tu-auto montserrat-bold-blumine-48px">¿Cómo vendemos tu auto?</div>
          <div class="amos-tu-auto-container montserrat-bold-white-24px">
            <div class="lavamos-tu-auto">Lavamos tu auto</div>
            <div class="fotografiamos-tu-auto">Fotografiamos tu auto</div>
          </div>
          <div class="flex-row-2 montserrat-medium-white-16px">
            <p class="nuestro-equipo-va-ha">Nuestro equipo va hasta tu casa a limpiar tu auto</p>
            <p class="luego-de-la-limpieza">Luego de la limpieza, hacemos las fotos de tu auto por ti</p>
          </div>
          <div class="camos-container montserrat-bold-white-24px">
            <div class="lo-publicamos-en-la-web">Lo publicamos en la web</div>
            <div class="buscamos-comprador">Buscamos Comprador</div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-row-3">
      <img class="line-9" src="../../../../assets/images/home2/line-9@2x.svg" />
      <div class="flex-col-2">
        <div class="cmo-comprar-un-auto montserrat-bold-blumine-48px">¿Cómo comprar un auto?</div>
        <div class="entra-al-catlogo montserrat-bold-blumine-24px">Entra al catálogo</div>
        <p class="flex-col-item montserrat-medium-blumine-16px">
          Entra a nuestro catálogo de autos y haz click sobre el que te interesa. En la ficha del auto responde el
          formulario de datos de contacto para que un especialista se comunique contigo.
        </p>
        <div class="solicita-una-prueba-de-manejo montserrat-bold-blumine-24px">Solicita una prueba de manejo</div>
        <p class="flex-col-item montserrat-medium-blumine-16px">
          Nos comunicaremos contigo para agendar tu prueba de manejo y confirmar tu forma de pago; la compra es 100%
          digital sin salir de tu casa.
        </p>
        <div class="cmpralo-fcil-y-seguro montserrat-bold-blumine-24px">Cómpralo fácil y seguro</div>
        <p class="flex-col-item montserrat-medium-blumine-16px">
          Si te gustó el auto, confirma tu compra. Firma el contrato de compraventa, nosotros confirmaremos la
          transferencia de fondos y recibirás tu auto de forma cómoda y segura.
        </p>
      </div>
      <div class="overlap-group16">
        <img class="group-85" src="../../../../assets/images/home2/group-85@2x.svg" />
        <div class="rectangle-73"></div>
        <img class="mask-group-2" src="../../../../assets/images/home2/mask-group-1@1x.svg" />
        <img class="line-11" src="../../../../assets/images/home2/line-11@2x.svg" />
      </div>
    </div>
    <div class="flex-col-3">
      <div class="ltimos-autos-publicados montserrat-medium-white-40px">
        <span class="montserrat-medium-blumine-40px">Últimos autos</span><span class="span1">&nbsp;</span
        ><span class="montserrat-medium-blumine-40px">publicados</span>
      </div>
      <div class="overlap-group12">
        <a href="detalle-auto.html">
          <div class="auto">
            <div class="overlap-group4">
              <div class="mg-rx5-2020 montserrat-normal-blumine-20px">
                <span class="montserrat-normal-blumine-20px">MG RX5<br />| </span
                ><span class="gotham-bold-blumine-20px">2020</span>
              </div>
              <div class="price gotham-bold-robins-egg-blue-32px">$15.000.000</div>
              <p class="x658km-gasolina gotham-bold-astronaut-blue-14px">48.658km - Gasolina - Automático</p>
              <div class="sujeto-a-financiamiento gotham-bold-astronaut-blue-14px">Sujeto a financiamiento</div>
              <div class="rectangle-22 border-1px-black-2"></div>
              <img class="mask-group" src="../../../../assets/images/home2/mask-group-2@2x.svg" />
            </div></div
        ></a>
        <div class="overlap-group5">
          <div class="chery-tiggo-2-2021 gotham-bold-blumine-20px">Chery Tiggo 2<br />| 2021</div>
          <div class="price gotham-bold-robins-egg-blue-32px">$10.090.000</div>
          <p class="x658km-gasolina gotham-bold-blumine-14px">18.658km - Gasolina - Mecánico</p>
          <div class="sujeto-a-financiamiento gotham-bold-blumine-14px">Sujeto a financiamiento</div>
          <div class="rectangle-22 border-1px-black-2"></div>
          <img class="mask-group" src="../../../../assets/images/home2/mask-group-3@2x.svg" />
          <img class="mask-group" src="../../../../assets/images/home2/mask-group-4@2x.svg" />
        </div>
        <div class="overlap-group6">
          <div class="kia-cerato-2020 gotham-bold-blumine-20px">KIA CERATO<br />| 2020</div>
          <div class="price gotham-bold-robins-egg-blue-32px">$15.290.000</div>
          <p class="x658km-gasolina gotham-bold-blumine-14px">48.658km - Gasolina - Mecánico</p>
          <div class="sujeto-a-financiamiento gotham-bold-blumine-14px">Sujeto a financiamiento</div>
          <div class="rectangle-22 border-1px-black-2"></div>
          <img class="mask-group" src="../../../../assets/images/home2/mask-group-5@2x.svg" />
        </div>
        <div class="overlap-group7">
          <div class="surname gotham-bold-blumine-20px">FORD FIESTA<br />| 2019</div>
          <div class="price gotham-bold-robins-egg-blue-32px">$11.000.000</div>
          <p class="x658km-gasolina gotham-bold-blumine-14px">25.658km - Gasolina - Mecánico</p>
          <div class="sujeto-a-financiamiento gotham-bold-blumine-14px">Sujeto a financiamiento</div>
          <div class="rectangle-22 border-1px-black-2"></div>
          <img class="mask-group" src="../../../../assets/images/home2/mask-group-6@2x.svg" />
        </div>
        <div class="group-119">
          <div class="group-56"><img class="vector-1" src="../../../../assets/images/home2/vector-1@2x.svg" /></div>
          <div class="group-57"><img class="vector-2" src="../../../../assets/images/home2/vector@2x.svg" /></div>
        </div>
      </div>
      <a href="quiero-comprar.html">
        <div class="component-6">
          <div class="cmo-comprar valign-text-middle gotham-bold-blumine-20px">Ver más</div>
        </div></a
      >
      <div class="reseas-recientes montserrat-medium-blumine-40px">Reseñas recientes</div>
      <div class="group-container">
        <div class="group-58">
          <img class="image-13" src="../../../../assets/images/home2/image-13@1x.png" />
          <div class="overlap-group">
            <div class="suzuki-swift-2012 gotham-bold-robins-egg-blue-20px">Suzuki Swift 2012</div>
            <p class="vend-mi-auto-en-mu gothambook-italic-normal-blumine-16px">
              “Vendí mi auto en Mube y en todo momento la atención fue buenísima, súper puntuales y atentos.
              Cumplieron todo lo que prometieron y me sentí segura durante toda la venta. Sin duda lo recomiendo.”
            </p>
            <div class="mariel-soriano gothambook-italic-normal-blumine-20px">Mariel Soriano</div>
          </div>
        </div>
        <div class="group">
          <img class="image-13" src="../../../../assets/images/home2/image-13-1@1x.png" />
          <div class="overlap-group">
            <div class="surname-1 gotham-bold-robins-egg-blue-20px">Ford Ranger 2011</div>
            <p class="la-seguridad-que-te gothambook-italic-normal-blumine-16px">
              La seguridad que te dan desde que inicias la intención de comprar un auto, el seguimiento, la
              seriedad, el trato...en lo personal, fue una experiencia muy grata y por ello recomiendo a Mube.
            </p>
            <div class="ral-oribe-mendoza gothambook-italic-normal-blumine-20px">Raúl Oribe Mendoza</div>
          </div>
        </div>
        <div class="group">
          <img class="image-13" src="../../../../assets/images/home2/image-13-2@1x.png" />
          <div class="overlap-group">
            <div class="audi-a3-2015 gotham-bold-robins-egg-blue-20px">Audi A3 2015</div>
            <p class="su-atencin-de-calid gothambook-italic-normal-blumine-16px">
              Su atención de calidad, asesoramiento y guía constante, excelente trato de su equipo. hicieron que el
              proceso fuera super fácil.
            </p>
            <div class="ericka-martnez gothambook-italic-normal-blumine-20px">Ericka Martínez</div>
          </div>
        </div>
      </div>
      <div class="overlap-group15">
        <div class="simula-tu-crdito">
          <span class="montserrat-bold-blumine-48px">Simula tu</span><span class="span1-3">&nbsp;</span
          ><span class="span2">crédito</span>
        </div>
        <div class="encuentra-tu-prximo">Encuentra tu próximo auto con el financiamiento que necesitas</div>
        <div class="rectangle-47"></div>
        <div class="component-2-variant2">
          <div class="component-2">
            <a href="financiamiento.html"
              ><div class="cmo-comprar-1 valign-text-middle gotham-bold-blumine-20px">Cotizar Aquí</div>
            </a>
          </div>
        </div>
      </div>
      <div class="preguntas-frecuentes montserrat-medium-white-40px">
        <span class="montserrat-medium-blumine-40px">Preguntas</span><span class="span1-4"> frecuentes</span>
      </div>
      <div class="component-container">
        <div class="component-18">
          <div class="component-1">
            <div class="group-120">
              <div class="overlap-group-1">
                <div class="por-qu-usar-mube valign-text-middle montserrat-semi-bold-robins-egg-blue-20px">
                  ¿Por qué usar mube?
                </div>
                <img class="vector" src="../../../../assets/images/home2/vector-2@2x.svg" />
              </div>
            </div>
          </div>
          <div class="component-1">
            <div class="group-120">
              <div class="overlap-group-1">
                <div class="por-qu-usar-mube valign-text-middle montserrat-semi-bold-robins-egg-blue-20px">
                  ¿Cuánto cuesta vender mi auto en mube?
                </div>
                <img class="vector" src="../../../../assets/images/home2/vector-2@2x.svg" />
              </div>
            </div>
          </div>
          <div class="component-1">
            <div class="group-120">
              <div class="overlap-group-1">
                <div class="por-qu-usar-mube valign-text-middle montserrat-semi-bold-robins-egg-blue-20px">
                  ¿Cómo puedo ver un auto que me interese?
                </div>
                <img class="vector" src="../../../../assets/images/home2/vector-2@2x.svg" />
              </div>
            </div>
          </div>
          <div class="component-1">
            <div class="group-120">
              <div class="overlap-group-1">
                <div class="por-qu-usar-mube valign-text-middle montserrat-semi-bold-robins-egg-blue-20px">
                  ¿En mube tengo que dejar mi auto en consigna?
                </div>
                <img class="vector" src="../../../../assets/images/home2/vector-2@2x.svg" />
              </div>
            </div>
          </div>
          <div class="component-1">
            <div class="group-120-1">
              <div class="overlap-group-5">
                <div class="por-qu-usar-mube-1 valign-text-middle montserrat-semi-bold-robins-egg-blue-20px">
                  Ya me anuncio en otras plataformas<br />¿Qué beneficio me da mube?
                </div>
                <img class="vector-3" src="../../../../assets/images/home2/vector-2@2x.svg" />
              </div>
            </div>
          </div>
        </div>
        <div class="component-19">
          <div class="component-1">
            <div class="group-120">
              <div class="overlap-group-1">
                <div class="por-qu-usar-mube valign-text-middle montserrat-semi-bold-robins-egg-blue-20px">
                  ¿Cómo funciona mube?
                </div>
                <img class="vector" src="../../../../assets/images/home2/vector-2@2x.svg" />
              </div>
            </div>
          </div>
          <div class="component-1">
            <div class="group-120">
              <div class="overlap-group-1">
                <div class="por-qu-usar-mube valign-text-middle montserrat-semi-bold-robins-egg-blue-20px">
                  ¿Por qué mube obtiene una comisión?
                </div>
                <img class="vector" src="../../../../assets/images/home2/vector-2@2x.svg" />
              </div>
            </div>
          </div>
          <div class="component-1">
            <div class="group-120">
              <div class="overlap-group-1">
                <div class="por-qu-usar-mube valign-text-middle montserrat-semi-bold-robins-egg-blue-20px">
                  ¿Mube es una agencia?
                </div>
                <img class="vector" src="../../../../assets/images/home2/vector-2@2x.svg" />
              </div>
            </div>
          </div>
          <div class="component-1">
            <div class="group-120">
              <div class="overlap-group-1">
                <div class="por-qu-usar-mube valign-text-middle montserrat-semi-bold-robins-egg-blue-20px">
                  ¿Tengo que mostrar mi auto o lo hace mube por mi?
                </div>
                <img class="vector" src="../../../../assets/images/home2/vector-2@2x.svg" />
              </div>
            </div>
          </div>
          <div class="component-1">
            <div class="group-120-2">
              <div class="overlap-group-6">
                <div class="por-qu-usar-mube-2 valign-text-middle montserrat-semi-bold-robins-egg-blue-20px">
                  ¿Qué pasa si compro o vendo directamente<br />mi auto a otra persona?
                </div>
                <img class="vector-4" src="../../../../assets/images/home2/vector-2@2x.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="group-124">
        <div class="flex-row-4">
          <div class="flex-row-5 montserrat-bold-blumine-20px">
            <div class="flex-col-4">
              <img class="group-86" src="../../../../assets/images/home2/group-86@2x.svg" />
              <div class="en-mube-queremos-hac montserrat-medium-white-20px">
                <span class="montserrat-medium-blumine-20px">En </span
                ><span class="montserrat-extra-bold-robins-egg-blue-20px">mube</span
                ><span class="montserrat-medium-blumine-20px">
                  queremos hacer las cosas bien: facilitamos el camino usando tecnología para garantizar
                  experiencias cómodas y fluidas. Ayudamos a las personas a conseguir lo que buscan. Al que no
                  conozca el precio, lo ayudamos a definirlo. A quien no tiene recursos inmediatos, podemos
                  financiarlo</span
                >
              </div>
            </div>
            <div class="group-87">
              <a href="home.html"><div class="place montserrat-bold-blumine-20px">Home</div> </a
              ><a href="quiero-comprar.html"
                ><div class="link montserrat-bold-blumine-20px">Comprar un auto</div>
              </a>
              <div class="vender-un-auto">Vender un auto</div>
              <a href="financiamiento.html"><div class="link montserrat-bold-blumine-20px">Financiamiento</div> </a>
              <div class="autos-garantizados">Autos garantizados</div>
            </div>
            <div class="group-88">
              <div class="sobre-nosotros">Sobre nosotros</div>
              <div class="cmo-funciona-mube">¿Cómo funciona mube?</div>
              <a href="como-lo-hacemos.html"
                ><div class="link montserrat-bold-blumine-20px">¿Cómo comprar?</div>
              </a>
              <div class="trminos-y-condiciones">Términos y condiciones</div>
              <div class="aviso-de-privacidad">Aviso de privacidad</div>
              <div class="fa-qs">FAQ’s</div>
            </div>
          </div>
          <div class="flex-col-5">
            <div class="contctanos montserrat-bold-blumine-24px">CONTÁCTANOS</div>
            <div class="contactomubecl montserrat-normal-blumine-20px">contacto@mube.cl</div>
            <div class="phone montserrat-normal-blumine-20px">+569 3254 1255</div>
            <div class="overlap-group-container">
              <div class="overlap-group-2">
                <div class="send-message poppins-bold-periglacial-blue-23px">Send message</div>
                <div class="component-3">
                  <div class="cmo-comprar valign-text-middle gotham-bold-white-20px">Enviar correo</div>
                </div>
              </div>
              <div class="overlap-group-2">
                <div class="send-message poppins-bold-periglacial-blue-23px">Send message</div>
                <div class="component-3">
                  <div class="cmo-comprar valign-text-middle gotham-bold-white-20px">Enviar correo</div>
                </div>
              </div>
              <div class="overlap-group-2">
                <div class="send-message poppins-bold-periglacial-blue-23px">Send message</div>
                <div class="component-3">
                  <div class="cmo-comprar valign-text-middle gotham-bold-white-20px">Enviar correo</div>
                </div>
              </div>
              <div class="overlap-group-2">
                <div class="send-message poppins-bold-periglacial-blue-23px">Send message</div>
                <div class="component-3-1">
                  <div class="cmo-comprar valign-text-middle gotham-bold-blumine-20px">Enviar correo</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="overlap-group11">
          <div class="x2022-todos-los-derechos-reservados gotham-bold-black-20px">
            2022 © Todos los derechos reservados
          </div>
          <div class="x2022-todos-los-derechos-reservados gotham-bold-black-20px">
            2022 © Todos los derechos reservados
          </div>
          <div class="x2022-todos-los-derechos-reservados gotham-bold-black-20px">
            2022 © Todos los derechos reservados
          </div>
          <div class="rectangle-68"></div>
          <div class="x2022-todos-los-derechos-reservados montserrat-medium-white-20px-2">
            2022 © Todos los derechos reservados
          </div>
        </div>
      </div>
    </div>
  </div>
</div>