@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900,500,600,800,500italic|Poppins:700|Nunito:400,700,900,500,600");

@font-face {
  font-family: "Gotham-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../../../../assets/fonts/GothamBold.ttf") format("truetype");
}
@font-face {
  font-family: "Gotham Book-Italic";
  font-style: italic;
  font-weight: 400;
  src: url("../../../../assets/fonts/Gotham-BookItalic.ttf") format("truetype");
}

.home-img {
  width: 100%;
}

.overlay.animate-appear {
  animation: reveal 0.3s ease-in-out 1 normal forwards;
  display: block;
  opacity: 0;
}

.overlay.animate-disappear {
  animation: reveal 0.3s ease-in-out 1 reverse forwards;
  display: block;
  opacity: 1;
  pointer-events: none;
}

.overlay.animate-disappear * {
  pointer-events: none;
}

.align-self-flex-end {
  align-self: flex-end;
}

.align-self-flex-center {
  align-self: flex-center;
}

  
  .gotham-bold-blumine-20px {
    color: var(--blumine);
    font-family: var(--font-family-gotham-bold);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
  }
  
  .gotham-bold-blumine-14px {
    color: var(--blumine);
    font-family: var(--font-family-gotham-bold);
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: 700;
  }
  
  .poppins-bold-periglacial-blue-23px {
    color: var(--periglacial-blue);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 700;
  }
  
  .gotham-bold-white-20px {
    color: var(--white);
    font-family: var(--font-family-gotham-bold);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 700;
  }
  
  
  .gotham-bold-robins-egg-blue-32px {
    color: var(--robins-egg-blue);
    font-family: var(--font-family-gotham-bold);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 700;
  }
  
  .montserrat-bold-ebony-clay-16px {
    color: var(--ebony-clay);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 700;
  }
  
  .gotham-bold-black-20px {
    color: var(--black);
    font-family: var(--font-family-gotham-bold);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
  }
  
  .nunito-bold-delta-16px {
    color: var(--delta);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 700;
  }
  
  
  .montserrat-semi-bold-robins-egg-blue-20px {
    color: var(--robins-egg-blue);
    font-family: var(--font-family-montserrat);
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
  }
  
  .nunito-medium-white-20px {
    color: var(--white);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 500;
  }
  
  
  .montserrat-bold-white-24px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 700;
  }
  
  .gotham-bold-astronaut-blue-14px {
    color: var(--astronaut-blue);
    font-family: var(--font-family-gotham-bold);
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: 700;
  }
  
  .nunito-normal-white-20px {
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
  }
  
  .nunito-normal-blumine-20px {
    color: var(--blumine);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
  }
  
  .nunito-bold-robins-egg-blue-20px {
    color: var(--robins-egg-blue);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
  }
  
  .montserrat-medium-delta-16px {
    color: var(--delta);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 500;
  }  
  .montserrat-black-blumine-16px {
    color: var(--blumine);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 900;
  }
  
  .montserrat-medium-black-16px {
    color: var(--black-3);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 500;
  }
  
  .nunito-normal-blumine-16px {
    color: var(--blumine);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
  }
  
  .montserrat-medium-white-16px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 500;
  }
  
  .nunito-bold-woody-brown-16px {
    color: var(--woody-brown-2);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 700;
  }
  
  .nunito-bold-white-30px {
    color: var(--white);
    font-family: var(--font-family-nunito);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
  }
  
  .nunito-medium-woody-brown-20px {
    color: var(--woody-brown-2);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 500;
  }
  
  .montserrat-bold-blumine-48px {
    color: var(--blumine);
    font-family: var(--font-family-montserrat);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
  }
  
  .nunito-medium-delta-13px {
    color: var(--delta);
    font-family: var(--font-family-nunito);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
  }
  
  .montserrat-normal-delta-16px {
    color: var(--delta);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
  }
  
  .montserrat-bold-blumine-36px {
    color: var(--blumine);
    font-family: var(--font-family-montserrat);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
  }
  
  .montserrat-semi-bold-ebony-clay-20px {
    color: var(--ebony-clay);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 600;
  }
  
  .montserrat-medium-white-40px {
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxxl);
    font-style: normal;
    font-weight: 500;
  }
  
  
  .gotham-bold-robins-egg-blue-20px {
    color: var(--robins-egg-blue);
    font-family: var(--font-family-gotham-bold);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
  }
  
  .gothambook-italic-normal-blumine-16px {
    color: var(--blumine);
    font-family: var(--font-family-gotham_book-italic);
    font-size: var(--font-size-s);
    font-style: italic;
    font-weight: 400;
  }
  
  .gothambook-italic-normal-blumine-14px {
    color: var(--blumine);
    font-family: var(--font-family-gotham_book-italic);
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
  }

  .gothambook-italic-normal-blumine-20px {
    color: var(--blumine);
    font-family: var(--font-family-gotham_book-italic);
    font-size: var(--font-size-m);
    font-style: italic;
    font-weight: 400;
  }
  
  .nunito-bold-woody-brown-30px {
    color: var(--woody-brown);
    font-family: var(--font-family-nunito);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
  }
  
  .montserrat-bold-white-20px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
  }
  
  .border-1px-fuscous-gray {
    border: 1px solid var(--fuscous-gray);
  }
  
  .border-1px-black-2 {
    border: 1px solid var(--black-2);
  }
  
  .border-1px-robins-egg-blue {
    border: 1px solid var(--robins-egg-blue);
  }
  
  .border-1px-bright-turquoise {
    border: 1px solid var(--bright-turquoise);
  }
  
  .border-2px-blumine {
    border: 2px solid var(--blumine);
  }
  
  .border-2px-white {
    border: 2px solid var(--white);
  }

  
/* screen - home */
  
  .line-7 {
    height: 132px;
    margin-left: 14.5px;
    margin-top: 48px;
    width: 6px;
    position: absolute;
  }
  
  .plataforma-que-facil {
    color: transparent;
    font-family: var(--font-family-montserrat);
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 50px;
    margin-top: 340px;
    min-height: 135px;
    text-shadow: 0px 4px 4px #00000040;
    position: absolute;
    margin-left: 40px;
  }
  
  .frame {
    height: 50px;
    left: 218px;
    position: absolute;
    top: 22px;
    
  }

   .title {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: 60px;
    font-style: italic;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 33px;
    width: 311px;
  }

   .te-ayudamos-a-encont {
    color: transparent;
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xl);
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: 24.0px;
    position: absolute;
    top: 91px;
    width: 607px;
  }

  .span0 {
    color: var(--white);
  }
  
  .span {
    color: var(--spring-green);
  }
  
   .flex-row {
    align-items: flex-start;
    align-self: center;
    display: flex;
    margin-left: 12.0px;
    margin-top: 28px;
    min-width: 474px;
  }
  
   .component-5 {
    align-items: flex-start;
    display: flex;
    min-width: 223px;
  }
  
   .group-12 {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    margin-left: 26px;
    min-width: 225px;
  }
  
   .overlap-group-3 {
    align-items: flex-start;
    background-color: var(--robins-egg-blue);
    border-radius: 10px;
    display: flex;
    height: 37px;
    min-width: 223px;
    padding: 7px 31px;
  }
  
   .quiero-comprar {
    letter-spacing: 0;
    min-height: 22px;
  }
  
   .group-125 {
    background-color: var(--blumine);
    display: flex;
  }
  
   .overlap-group8 {
    align-items: flex-start;
    background-color: var(--blumine);
    display: flex;
    margin: auto;
    justify-content: right;
    align-items: center;
  }
  
   .overlap-group-4 {
    height: 165px;
    position: relative;
    width: 500px;
  }
    
  
   .span1-1 {
    color: var(--robins-egg-blue);
  }
  
  .component-7 {
    background-color: var(--robins-egg-blue);
    border-radius: 10px;
    display: flex;
    height: 30px;        
    width: 180px;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin-right: 20px;
  }
  
  .component-somos {
    background-color: var(--robins-egg-blue);
    border-radius: 10px;
    display: flex;
    height: 30px;        
    width: 180px;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }

   .overlap-group9 {
    align-items: flex-end;
    background-image: url(../../../../assets/images/home2/rectangle-40@1x.png);
    background-size: 100% 100%;
    display: flex;
    height: 284px;
    justify-content: flex-end;
    min-width: 673px;
    padding: 58.0px 70px;
  }
  
   .line-10 {
    height: 6px;
    width: 132px;
    position: absolute;
  }
  
   .overlap-group20 {
    height: 600px;
    margin-right: 13.41px;
    margin-top: 40px;
    position: relative;
    
  }
  
   .overlap-group1 {
    height: 600px;
    left: 0;
    position: absolute;
    top: 0;
    
  }
  
   .overlap-group18 {
    height: 90px;
    left: 0;
    position: absolute;
    top: 18px;
    
  }
  
   .rectangle-57 {
    background-color: var(--spring-green);
    border-radius: 0px 50px 50px 0px;
    height: 76px;
    left: 0;
    position: absolute;
    top: 0;
    width: 510px;
  }
  
   .razones-para-confiar-en-nosotros {
    left: 66px;
    letter-spacing: 0;
    position: absolute;
    top: 14px;
    width: 690px;
  }
  
   .span1 {
    color: var(--heat-wave);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxxl);
    font-weight: 500;
  }
  
   .sin-complicaciones-n {
    color: transparent;
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxl);
    font-weight: 600;
    left: 142px;
    letter-spacing: 0;
    line-height: 30.0px;
    position: absolute;
    top: 500px;
    width: 607px;
  }
  
   .span0-1 {
    color: var(--blumine);
  }
  
   .span1-2 {
    color: var(--astronaut-blue);
    font-size: var(--font-size-m);
    line-height: 28.8px;
  }
  
   .proceso-digital-con {
    height: 44px;
    left: 420px;
    letter-spacing: 0;
    line-height: 22.4px;
    position: absolute;
    top: 205px;
    width: 312px;
  }
  
   .x100-seguro {
    left: 420px;
    letter-spacing: 0;
    line-height: 17.7px;
    position: absolute;
    top: 182px;
    white-space: nowrap;
    width: 145px;
  }
  
   .no-te-quedas-sin-auto {
    left: 420px;
    letter-spacing: 0;
    line-height: 17.7px;
    position: absolute;
    top: 354px;
    white-space: nowrap;
    width: 270px;
  }
  
   .vende-ms-rpido {
    left: 420px;
    letter-spacing: 0;
    line-height: 17.7px;
    position: absolute;
    top: 270px;
    width: 205px;
  }
  
   .overlap-group13 {
    left: 406px;
    position: absolute;
    top: 0;
  }
  
   .foto {

    left: 300px;
    position: absolute;
    top: 0;
    width: 533px;
  }
  
   .foto-1 {

    left: 300px;
    position: absolute;
    top: 15px;
    width: 517px;
  }
  
   .foto-2 {
    left: 320px;
    position: absolute;
    top: 13px;
    width: 500px;
  }
  
   .group-7 {
    left: 300px;
    position: absolute;
    top: 200px;
    width: 406px;
  }
  
   .usamos-tecnologa-y {
    height: 44px;
    left: 420px;
    letter-spacing: 0;
    line-height: 22.4px;
    position: absolute;
    top: 292px;
    width: 300px;
  }
  
   .puedes-usar-tu-auto {
    height: 44px;
    left: 420px;
    letter-spacing: 0;
    line-height: 22.4px;
    position: absolute;
    top: 382px;
    width: 312px;
  }
  
   .ms-dinero-para-ti {
    left: 80px;
    letter-spacing: 0;
    line-height: 17.7px;
    position: absolute;
    top: 182px;
    white-space: nowrap;
    width: 192px;
  }
  
   .transferencia-digital {
    left: 80px;
    letter-spacing: 0;
    line-height: 17.7px;
    position: absolute;
    top: 357px;
    white-space: nowrap;
    width: 231px;
  }
  
   .sin-complicaciones {
    left: 80px;
    letter-spacing: 0;
    line-height: 17.7px;
    position: absolute;
    top: 269px;
    white-space: nowrap;
    width: 201px;
  }
  
   .ellipse-13 {
    background-color: var(--spring-green);
    border-radius: 6px;
    height: 12px;
    left: 50px;
    position: absolute;
    top: 187px;
    width: 12px;
  }
  
   .ellipse-14 {
    background-color: var(--spring-green);
    border-radius: 6px;
    height: 12px;
    left: 50px;
    position: absolute;
    top: 274px;
    width: 12px;
  }
  
   .ellipse-15 {
    background-color: var(--spring-green);
    border-radius: 6px;
    height: 12px;
    left: 50px;
    position: absolute;
    top: 362px;
    width: 12px;
  }
  
   .ellipse-16 {
    background-color: var(--spring-green);
    border-radius: 6px;
    height: 12px;
    left: 390px;
    position: absolute;
    top: 186px;
    width: 12px;
  }
  
   .ellipse-17 {
    background-color: var(--spring-green);
    border-radius: 6px;
    height: 12px;
    left: 390px;
    position: absolute;
    top: 274px;
    width: 12px;
  }
  
   .ellipse-18 {
    background-color: var(--spring-green);
    border-radius: 6px;
    height: 12px;
    left: 390px;
    position: absolute;
    top: 358px;
    width: 12px;
  }
  
   .transferencia-online {
    height: 44px;
    left: 80px;
    letter-spacing: 0;
    line-height: 22.4px;
    position: absolute;
    top: 382px;
    width: 281px;
  }
  
   .ahorra-hasta-un-20 {
    height: 44px;
    left: 80px;
    letter-spacing: 0;
    line-height: 22.4px;
    position: absolute;
    top: 205px;
    width: 280px;
  }
  
   .nos-encargamos-de-to {
    height: 44px;
    left: 80px;
    letter-spacing: 0;
    line-height: 22.4px;
    position: absolute;
    top: 292px;
    width: 299px;
  }
  
   .overlap-group14 {
    background-color: var(--robins-egg-blue);
    height: 673px;
    position: relative;
  }
  
   .te-evitamos-todo-el {
    left: 480px;
    letter-spacing: 0;
    line-height: 22.4px;
    position: absolute;
    top: 294px;
    width: 320px;
  }
  
   .a-travs-de-un-model {
    color: var(--white);
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-s);
    font-weight: 500;
    left: 850px;
    letter-spacing: 0;
    line-height: 22.4px;
    position: absolute;
    top: 294px;
    width: 365px;
  }
  
   .flex-row-1 {
    align-items: flex-start;
    display: flex;
    height: 494px;
    left: 20px;
    min-width: 504px;
    position: absolute;
    top: 92px;
  }
  
   .line-8 {
    height: 132px;
    margin-top: 3px;
    width: 6px;
  }
  
   .mask-group-1 {
    margin-left: 50px;
    width: 350px;
  }
  
   .flex-col-1 {    
    display: flex;
    flex-direction: column;
    left: 480px;
    min-height: 204px;
    position: absolute;
    top: 382px;
  }
  
   .buscamos-tu-nuevo-auto-container {
    align-items: flex-start;
    display: flex;
    height: 21px;
    margin-right: 86.0px;
    
  }
  
   .buscamos-tu-nuevo-auto {
    letter-spacing: 0;
    line-height: 21.2px;
    min-height: 21px;
    white-space: nowrap;
    width: 325px;
  }
  
   .buscamos-tu-nuevo-auto-1 {
    letter-spacing: 0;
    line-height: 21.2px;
    margin-left: 45px;
    min-height: 21px;
    white-space: nowrap;
  }
  
   .no-solamente-buscamo-container {
    align-items: flex-start;
    display: flex;
    height: 49px;
    margin-right: 46.0px;
    margin-top: 11px;
    
  }
  
   .no-solamente-buscamo {
    letter-spacing: 0;
    line-height: 22.4px;
    min-height: 49px;
    width: 350px;
  }
  
   .no-solamente-buscamo-1 {
    letter-spacing: 0;
    line-height: 22.4px;
    margin-left: 20px;
    min-height: 49px;
    width: 354px;
  }
  
  .com-container {
    border: 0px;
    width: 412px;
    background: #01B9C1 ;
    display: none;
  }
  
  .con-las-compraventas {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-weight: 400;
    letter-spacing: 0;
    margin-top: 5px;
    min-height: 19px;
    text-align: center;
    margin-bottom: 10px;

  }
  
   .nuestra-comisin-es-de-un-35 {
    align-self: center;
    letter-spacing: 0;
    line-height: 21.2px;
    margin-right: 5.0px;
    margin-top: 11px;
    min-height: 27px;
    text-align: center;
    width: 350px;
  }
  
   .auto-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 480px;
    min-height: 211px;
    position: absolute;
    top: 72px;
  }
  
  .cmo-vendemos-tu-auto {
    width: 350px;
    display: none;
  }
  
   .amos-tu-auto-container {
    align-items: flex-start;
    display: flex;
    height: 21px;
    margin-top: 18px;
  }
  
   .lavamos-tu-auto {
    letter-spacing: 0;
    line-height: 21.2px;
    min-height: 21px;
    white-space: nowrap;
    width: 219px;
  }
  
   .fotografiamos-tu-auto {
    letter-spacing: 0;
    line-height: 21.2px;
    margin-left: 150px;
    min-height: 21px;
    white-space: nowrap;
  }
  
   .flex-row-2 {
    align-items: flex-start;
    display: flex;
    height: 47px;
    margin-top: 9px;    
  }
  
   .nuestro-equipo-va-ha {
    align-self: flex-end;
    letter-spacing: 0;
    line-height: 19.2px;
    width: 320px;
  }
  
   .luego-de-la-limpieza {
    letter-spacing: 0;
    line-height: 22.4px;
    margin-left: 49px;
    min-height: 45px;
    width: 354px;
  }
  
   .camos-container {
    align-items: flex-start;
    display: flex;
    height: 21px;
    margin-top: 19px;
    min-width: 776px;
  }
  
   .lo-publicamos-en-la-web {
    letter-spacing: 0;
    line-height: 21.2px;
    min-height: 21px;
    white-space: nowrap;
    width: 314px;
  }
  
   .buscamos-comprador {
    letter-spacing: 0;
    line-height: 21.2px;
    margin-left: 55px;
    min-height: 21px;
    white-space: nowrap;
  }
  
   .flex-row-3 {
    align-items: flex-start;    
    display: flex;   
    margin-top: 55px;
    margin-left: 20px;    
  }
  
   .line-9 {
    height: 132px;
    margin-top: 33px;
    width: 6px;
  }
  
   .flex-col-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 500px;
    
  }
  
   .cmo-comprar-un-auto {
    letter-spacing: 0;
    min-height: 76px;
    
  }
  
   .entra-al-catlogo {
    letter-spacing: 0;
    line-height: 21.2px;
    margin-left: 58px;
    min-height: 21px;
    white-space: nowrap;
  }
  
   .flex-col-item {
    letter-spacing: 0;
    line-height: 22.4px;
    margin-left: 58px;
    margin-top: 5px;
    min-height: 78px;
    width: 398px;
  }
  
   .solicita-una-prueba-de-manejo {
    letter-spacing: 0;
    line-height: 21.2px;
    margin-left: 58px;
    min-height: 21px;
    white-space: nowrap;
  }
  
   .cmpralo-fcil-y-seguro {
    letter-spacing: 0;
    line-height: 21.2px;
    margin-left: 58px;
    min-height: 21px;
    white-space: nowrap;
  }
  
   .overlap-group16 {
    align-self: flex-end;
    height: 476px;
    margin-left: 31px;
    position: relative;
    
  }
  
   .group-85 {
    height: 80px;
    left: 802px;
    position: absolute;
    top: 324px;
    width: 83px;
  }
  
   .rectangle-73 {
    background-color: var(--blumine);
    border-radius: 30px 0px 0px 0px;
    height: 270px;
    left: calc(100% - 400px);
    position: absolute;
    width: 400px;
  }
  
   .mask-group-2 {
    height: 404px;
    left: calc(100% - 700px);
    position: absolute;
    width: 550px;
  }
  
   .line-11 {
    height: 6px;
    left: 450px;
    position: absolute;
    top: 387px;
    width: 132px;
  }
  
   .flex-col-3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
  }
  
  .ltimos-autos-publicados {
    text-align: center;
    padding-top: 25px; 
  }
  
  .card-auto:hover {
    cursor: pointer;
  }

  .card-auto {
      box-shadow: 0 6px 6px 0px rgba(0,0,0,.2), 0 6px 6px 0 rgba(0,0,0,.14), 0 6px 6px 0 rgba(0,0,0,.12) !important;
      width: 16rem;
  }

   .auto {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    height: 389px;
    left: 70px;
    min-width: 374px;
    position: absolute;
    top: 0;
  }
  
   .overlap-group4 {
    border-radius: 20px;
    height: 389px;
    position: relative;
    width: 366px;
  }
  
   .mg-rx5-2020 {
    left: 26px;
    letter-spacing: 0;
    line-height: 17.7px;
    position: absolute;
    top: 220px;
    white-space: nowrap;
    width: 182px;
  }
    
   .x658km-gasolina {
    left: 26px;
    letter-spacing: 0;
    line-height: 12.4px;
    position: absolute;
    top: 244px;
    white-space: nowrap;
    width: 333px;
  }
  
   .sujeto-a-financiamiento {
    left: 26px;
    letter-spacing: 0;
    line-height: 12.4px;
    position: absolute;
    top: 321px;
    white-space: nowrap;
    width: 333px;
  }
  
   .rectangle-22 {
    border-radius: 20px;
    box-shadow: 0px 4px 14px #00000066;
    height: 389px;
    left: 0;
    position: absolute;
    top: 0;
    width: 366px;
  }
  
   .mask-group {
    height: 206px;
    left: 0;
    position: absolute;
    top: 0;
    width: 366px;
  }
  
   .overlap-group5 {
    border-radius: 20px;
    height: 389px;
    left: 463px;
    position: absolute;
    top: 0;
    width: 366px;
  }
  
   .chery-tiggo-2-2021 {
    left: 26px;
    letter-spacing: 0;
    line-height: 17.7px;
    position: absolute;
    top: 220px;
    white-space: nowrap;
    width: 241px;
  }
  
   .overlap-group6 {
    border-radius: 20px;
    height: 389px;
    left: 856px;
    position: absolute;
    top: 0;
    width: 366px;
  }
  
   .kia-cerato-2020 {
    left: 26px;
    letter-spacing: 0;
    line-height: 17.7px;
    position: absolute;
    top: 220px;
    white-space: nowrap;
    width: 237px;
  }
  
   .overlap-group7 {
    border-radius: 20px;
    height: 389px;
    left: 1249px;
    position: absolute;
    top: 0;
    width: 366px;
  }
  
   .surname {
    left: 26px;
    letter-spacing: 0;
    line-height: 17.7px;
    position: absolute;
    top: 220px;
    white-space: nowrap;
    width: 218px;
  }
  
   .group-119 {
    align-items: flex-start;
    display: flex;
    height: 32px;
    left: 100px;
    min-width: 1663px;
    position: absolute;
    top: 188px;
  }
  
   .group-56 {
    align-items: center;
    align-self: center;
    background-color: var(--alto-2);
    border-radius: 15.5px/16px;
    display: flex;
    height: 32px;
    margin-top: 0;
    min-width: 31px;
    padding: 0 8px;
  }
  
   .vector-1 {
    height: 20px;
    width: 12px;
  }
  
   .group-57 {
    align-items: flex-end;
    background-color: var(--alto-2);
    border-radius: 15.5px/16px;
    display: flex;
    height: 32px;
    margin-left: 1570px;
    margin-top: -32.0px;
    min-width: 31px;
    padding: 5.2px 8.0px;
    transform: rotate(-180.00deg);
  }
  
   .vector-2 {
    height: 21px;
    transform: rotate(180.00deg);
    width: 12px;
  }
  
   .component-6 {
    align-items: flex-start;
    background-color: var(--spring-green);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 37px;
    margin-left: 79.0px;
    margin-top: 55px;
    min-width: 223px;
    padding: 6px 5px;
  }
  
   .reseas-recientes {
    align-self: flex-start;
    letter-spacing: 0;
    margin-left: 161px;
    margin-top: 47px;
    min-height: 76px;
    width: 392px;
  }
  
   .group-container {
    align-items: flex-start;
    display: flex;
    height: 494px;
    margin-top: 17px;    
  }
  
   .group-58 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 494px;    
  }
  
   .image-13 {    
    object-fit: cover;
    width: 360px;
  }
  
   .overlap-group {
    align-items: flex-start;
    background-color: var(--hint-of-red);
    display: flex;
    flex-direction: column;
    min-height: 212px;
    padding: 16px 0px;
    width: 360px;
  }
  
   .suzuki-swift-2012 {
    letter-spacing: 0;
    min-height: 29px;
    width: 392px;
  }
  
   .vend-mi-auto-en-mu {
    letter-spacing: 0;
    line-height: 19.2px;
    min-height: 109px;
  }
  
   .mariel-soriano {
    align-self: flex-end;
    letter-spacing: 0;
    margin-right: 16px;
    margin-top: 9px;
    min-height: 29px;
    text-align: right;
    width: 144px;
  }
  
   .group {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 28px;
    min-height: 494px;    
  }
  
   .surname-1 {
    letter-spacing: 0;
    min-height: 29px;
    width: 392px;
  }
  
   .la-seguridad-que-te {
    letter-spacing: 0;
    line-height: 19.2px;
    min-height: 109px;
  }
  
   .ral-oribe-mendoza {
    align-self: flex-end;
    letter-spacing: 0;
    margin-right: 16px;
    margin-top: 9px;
    min-height: 29px;
    text-align: right;
    width: 209px;
  }
  
   .audi-a3-2015 {
    letter-spacing: 0;
    min-height: 29px;
    width: 392px;
  }
  
   .su-atencin-de-calid {
    letter-spacing: 0;
    line-height: 19.2px;
    min-height: 109px;
  }
  
   .ericka-martnez {
    align-self: flex-end;
    letter-spacing: 0;
    margin-right: 16px;
    margin-top: 9px;
    min-height: 29px;
    text-align: right;
    width: 175px;
  }
  
   .overlap-group15 {
    border-radius: 30px;
    height: 325px;
    margin-left: 54.0px;
    margin-top: 55px;
    position: relative;
    width: 854px;
  }

  .simula-tu-crdito1 {
    border: 1px solid var(--spring-green);
    border-radius: 30px;
    height: 250px;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.simula-tu-crdito {
    color: transparent;
    font-family: var(--font-family-montserrat);
    font-size: 46px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }
  
   .span1-3 {
    color: var(--heat-wave);
  }
  
  .span2 {
    color: var(--bright-turquoise);
  }
  
  .encuentra-tu-prximo {
    color: var(--blumine);
    font-family: var(--font-family-montserrat);
    font-size: 16px;
    font-style: italic;
    line-height: 24.0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-left: 20%;
    padding-right: 20%;
  }
  
   .rectangle-47 {
    border: 1px solid var(--spring-green);
    border-radius: 30px;
    height: 325px;
    left: 0;
    position: absolute;
    top: 0;
    width: 854px;
  }
  
   .component-2-variant2 {
    align-items: flex-start;
    display: flex;
    height: 37px;
    left: 315px;
    min-width: 223px;
    position: absolute;
    top: 225px;
  }
  
   .cmo-comprar-1 {
    cursor: pointer;
    height: 22px;
    letter-spacing: 0;
    text-align: center;
    width: 213px;
  }
  
  .preguntas-frecuentes {
    align-self: flex-start;
    letter-spacing: 0;
    margin-left: 161px;
    margin-top: 41px;
    min-height: 76px;
    width: 453px;
  }
  
   .span1-4 {
    color: var(--robins-egg-blue);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxxl);
    font-weight: 500;
  }
  
   .component-container {    
    display: flex;
    height: 328px;
    align-items: flex-start;
    width: 100%;
  }
  
   .component-18 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
   .component-1 {
    align-items: flex-start;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    gap: 19px;
    justify-content: center;
    padding: 4px 0px 4px 10px;
    width: 525px;
  }
  
   .group-120 {
    height: 24px;
    margin-right: -5.00px;
    min-width: 720px;
  }
  
   .overlap-group-1 {
    height: 24px;
    position: relative;
    width: 718px;
  }
  
   .por-qu-usar-mube {
    left: 10px;
    letter-spacing: 0;
    position: absolute;
    width: 350px;
  }
  
   .vector {
    height: 21px;
    left: 400px;
    position: absolute;
    width: 12px;
  }
  
   .group-120-1 {
    height: 48px;
    margin-right: -5.00px;
    min-width: 720px;
  }
  
   .overlap-group-5 {
    height: 48px;
    position: relative;
    width: 718px;
  }
  
   .por-qu-usar-mube-1 {
    height: 48px;
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 718px;
  }
  
   .vector-3 {
    height: 21px;
    left: 400px;
    position: absolute;    
    width: 12px;
  }
  
   .component-19 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
   .group-120-2 {
    height: 72px;
    margin-right: -5.00px;
    min-width: 720px;
  }
  
   .overlap-group-6 {
    height: 72px;
    position: relative;
    width: 718px;
  }
  
   .por-qu-usar-mube-2 {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 718px;
  }
  
   .vector-4 {
    height: 21px;
    left: 400px;
    position: absolute;
    width: 12px;
  }
  
   .group-124 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    width: 100%;
  }
  
   .flex-row-4 {
    align-items: center;
    display: flex;
  }
  
   .flex-row-5 {
    align-items: center;
    display: flex;
    height: 513px;
    
  }
  
   .flex-col-4 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 513px;
    width: 310px;
  }
  
   .group-86 {
    height: 166px;
    margin-left: 1px;
    width: 200px;
  }
  
   .en-mube-queremos-hac {
    letter-spacing: 0;
    line-height: 28.0px;
    margin-top: 20px;
    min-height: 327px;
    width: 310px;
  }
  
   .group-87 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 87.0px;
    min-height: 226px;
    width: 213px;
  }
  
   .place {
    cursor: pointer;
    letter-spacing: 0;
    line-height: 17.7px;
    min-height: 18px;
    white-space: nowrap;
  }
  
   .link {
    cursor: pointer;
    letter-spacing: 0;
    line-height: 17.7px;
    margin-top: 34px;
    min-height: 18px;
    white-space: nowrap;
  }
  
   .vender-un-auto {
    letter-spacing: 0;
    line-height: 17.7px;
    margin-top: 34px;
    min-height: 18px;
    white-space: nowrap;
  }
  
   .autos-garantizados {
    letter-spacing: 0;
    line-height: 17.7px;
    margin-top: 34px;
    min-height: 18px;
    white-space: nowrap;
  }
  
   .group-88 {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    margin-bottom: 47px;
    margin-left: 10px;
    min-height: 279px;
    width: 261px;
  }
  
   .sobre-nosotros {
    letter-spacing: 0;
    line-height: 17.7px;
    min-height: 18px;
    white-space: nowrap;
  }
  
   .cmo-funciona-mube {
    letter-spacing: 0;
    line-height: 17.7px;
    margin-top: 34px;
    min-height: 18px;
    white-space: nowrap;
  }
  
   .trminos-y-condiciones {
    letter-spacing: 0;
    line-height: 17.7px;
    margin-top: 34px;
    min-height: 18px;
    white-space: nowrap;
  }
  
   .aviso-de-privacidad {
    letter-spacing: 0;
    line-height: 17.7px;
    margin-top: 34px;
    min-height: 18px;
    white-space: nowrap;
  }
  
   .fa-qs {
    letter-spacing: 0;
    line-height: 17.7px;
    margin-top: 35px;
    min-height: 18px;
    white-space: nowrap;
  }
  
   .flex-col-5 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 13.0px;
    min-height: 158px;
    width: 223px;
  }
  
   .contctanos {
    letter-spacing: 0;
    line-height: 21.2px;
    margin-right: 3px;
    min-height: 21px;
    min-width: 194px;
    white-space: nowrap;
  }
  
   .contactomubecl {
    align-self: center;
    letter-spacing: 0;
    line-height: 17.7px;
    margin-left: 14.0px;
    margin-top: 29px;
    min-height: 18px;
    min-width: 191px;
    white-space: nowrap;
  }
  
   .phone {
    letter-spacing: 0;
    line-height: 17.7px;
    margin-right: 9px;
    margin-top: 5px;
    min-height: 18px;
    min-width: 152px;
    white-space: nowrap;
  }
  
   .overlap-group-container {
    border-radius: 10px;
    height: 37px;
    margin-top: 30px;
    position: relative;
    width: 223px;
  }
  
   .overlap-group-2 {
    border-radius: 10px;
    height: 37px;
    left: 0;
    position: absolute;
    top: 0;
    width: 223px;
  }
  
   .send-message {
    left: 4px;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    width: 174px;
  }
  
   .component-3 {
    align-items: flex-start;
    background-color: var(--international-orange);
    border-radius: 10px;
    display: flex;
    height: 37px;
    left: 0;
    min-width: 223px;
    padding: 6px 5px;
    position: absolute;
    top: 0;
  }
  
   .component-3-1 {
    align-items: flex-start;
    background-color: var(--spring-green);
    border-radius: 10px;
    display: flex;
    height: 37px;
    left: 0;
    min-width: 223px;
    padding: 6px 5px;
    position: absolute;
    top: 0;
  }
  
  .overlap-group11 {
    height: 79px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--robins-egg-blue);
  }
  
   .x2022-todos-los-derechos-reservados {
    
    letter-spacing: 0;
    line-height: 17.7px;
    position: absolute;
    top: 30px;
    white-space: nowrap;
  }
  
   .rectangle-68 {
    background-color: var(--robins-egg-blue);
    height: 79px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .opciones-menu-login {    
    display: flex;
    justify-content: center; 
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 24px;
    color: #1A5D71 !important;
  }

  a {    
    color: #1A5D71;
  }

  .button-row {
    position: absolute;
    display: flex;
    align-items: center;
    top: 530px;
    left: 280px;
  }

  .container-home2 {
    position: relative;
    background: #1A5D71;
    font-size: xx-large;
    display: flex; /*Convertimos al menú en flexbox*/
    justify-content: space-between; /*Con esto le indicamos que margine todos los items que se encuentra adentro hacia la derecha e izquierda*/    
  }  
  
  
ul.menu { 
  display: flex;
}

ul.menu li { 
  display: flex;
  flex: 1;
  text-align: center;
  white-space: nowrap;
  justify-content: center;
}

.titleh5 {
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 18px;
  line-height: 88.4%;
  color: #1A5D71;
}

.titleh4 {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 88.4%;
  color: #00385C;
}

.price {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 88.4%;
  color: #01B9C1;
  margin-top: px;
}

.cotizar-aqui {
  background-color: var(--spring-green);
  border-radius: 10px;
  display: flex;
  height: 30px;
  width: 180px;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.accordion-button:not(.collapsed) {
  background-color: white;
}

.accordion-button:focus {
  border-color: white;
  border: 0px;
}


-img {
  width: 100%;
  height: auto;
}

.container-banner{
  display: flex;

}

.somos2 {
  flex: 0 0 auto; 
  width: 0;
}

.somos-img {
  height: 223px;
}

.como-vendemos-img {
  display: block;
}

.como-vend-container {
  background: #01B9C1;
  display: none;
}

.boton-somos {
  top: 40%; 
  left: 10%; 
  background: #1A5D71;
}

.card-somos {
  flex: 0 0 auto; width: 40%;
}

.boton-ver-mas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.simula-parent {
  display: flex;
  justify-content: center;
}

.span1 {
  white-space: nowrap;
}

@media (max-width: 500px) {
  .plataforma-que-facil {
    margin-top: 10px;
    font-size: 17px;
    line-height: 25px;
  }

   .frame {
    height: 36px;
    left: 188px;
    top: 30px;   
  }
  
   .title {
    font-size: 44px;
    left: 30px;
    top: 33px;
    
  }

   .te-ayudamos-a-encont {
    font-size: 20px;
    left: 20px;
  }

   .rectangle-57 {
    width: 300px;
  }
  

   .razones-para-confiar-en-nosotros {
    left: 10px;
  }

   .razones-para-confiar-en-nosotros span {
    font-size: 14px;
  }

  .button-row {
    position: absolute;
    top: 180px;
    left: 50px;
    width: 50%;  
  }
  
  .razones {
    width: 30%;
  }

  .com-container {
    display: block;
  }

   .group-125 {
    background-color: var(--blumine);
    width: 412px;
  }

   .overlap-group8 {
    background-color: var(--blumine);
    width: 100px;
    display: table;
  }

   .overlap-group-4 {
    height: 165px;
    position: relative;
    width: 100%;
  }

   .frame {
    top: 28px;    
  }

  .somos2 {
    width: 50%
  }

  .somos-img {
    width: 320px;
    height: auto;
  }

  .cmo-vendemos-tu-auto {
    width: 300px;
    display: block;
    margin-top: 20px;
  }

  .como-vendemos-img {
    display: none;
  }
  
  .como-vend-container {
    background: #01B9C1;
    display: block;
  }
  
  .vendemos-img {
    width: 90%;
  }

  .boton-somos {
    top: -80%; 
    left: 10%; 
    background: #1A5D71;
  }
  
  .ltimos-autos-publicados {
    text-align: center;
    line-height: 35px;    
    padding-top: 10px;
  }

  .simula-tu-crdito {
    display: block;
    padding-top: 20px;
  }

  .span1 {
    display: block;
    padding-bottom: 20px;
  }

  .encuentra-tu-prximo {
    padding-top: 10px;
  }

  .preguntas-frecuentes {
    width: 0;
    margin-left: 0;
    line-height: 40px;
  }

  .montserrat-medium-white-20px-2 {
    font-size: 15px;
  }

  .card-somos {
    flex: 0 0 auto; width: auto;
  }
}
